[2019-01-16 23:35] dpersing commented on #794
Thanks so much for taking a look at this @francinen! Let me know what I can do to help.

[2019-01-17 00:04] sam-cnet commented on #876
Yup you're right I should have passed a function from my parent component to the **primaryAction** prop in the `<Modal />` component that way I would know when the user has submitted. I think ultimately this is my lack of ReactJS experience, because I ended up doing the same thing just without using the `<Modal />` component. I am going to close this because I believe you have answered my question

[2019-01-17 00:04] #876 closed

[2019-01-17 00:18] sam-cnet commented on #875
What version of @shopify/app-bridge are you using?

[2019-01-17 12:12] tabrez96 opened #892 "Provision for sticky header in datatable"
# Feature request summary

The current version of datatable is really good. It would be better if it had an additional prop to enable sticky header after a max height.

## Rationale

Usually, data tables with huge data are placed inside a scrollable container. In this case, when the content in the table is scrolled, the header disappears. As a user, it is difficult to read the data without the hea

[2019-01-17 15:45] nwtn commented on #885
Just a heads-up that this has the potential to send you down a rabbit-hole. Luckily, it’s one I’ve already explored and prepared you for. When icons are rendered inline in an `img` tag, CSS can’t be applied to elements within the SVG. This means that things like color styling for :hover, :focus, and :selected get complicated.

The best solution we’ve come up with so far is to apply CSS filters on

[2019-01-17 16:03] kaelig commented on #885
Is that something that can happen / has happened?

Data URIs don't compress well. Just mentioning it so we can take this performance cost into account during the decision-making process.

[2019-01-17 16:50] theodoretan commented on #885
Yes, the scrubber that sanitizes our sales channel icons has failed twice already and if we rely on this, we'll always be playing catch-up to new ways of XSS. More context: https://github.com/Shopify/partners/issues/7098

[2019-01-17 17:44] kaelig commented on #885
Thanks - I wish this be solved with a CSP directive that specifically declares scripts in inline SVGs are unsafe, but it seems like such fine-grained control isn't possible.

[2019-01-17 20:03] kvendrik opened #896 "Add viewport meta tag to Storybook"
Currently even when viewing the isolated component (http://localhost:6006/iframe.html?selectedKind=Playground&selectedStory=Playground) components can only be viewed on mobile in desktop size because of the absence of a viewport meta tag.

[Potential fix here](https://github.com/Shopify/polaris-react/pull/852/commits/7d41ec099ea44f88994bef7ba8a7d4fb9ff6ad88)

![screen shot 2019-01-17 at 3 03 20 pm

[2019-01-17 21:13] #583 closed

[2019-01-17 23:58] sam-cnet commented on #809
@imgntn Sounds like your app is set as an embedded app in your partners dashboard > app extensions. And you are not redirecting to the Shopify admin and then trying to open the Modal. If your app is embedded in the Shopify admin than you may not be able to open it when loaded outside of Shopify admin. I will tell you for certain you need the shopOrigin for an embedded app and that it should only o

[2019-01-18 00:08] ptcampbell commented on #809
To clarify, the original issue describes the modal not working in an embedded app (an iframe inside of the Shopify admin).

[2019-01-18 00:10] sam-cnet commented on #383
What you are trying to do is communicate between child and parent component. This is more of a ReactJS question because you want to for example display a form in the modal right? If so then you need to pass a function as a prop. You can use the primaryAction prop that's built into the Modal component, it's meant for this very reason, at least the only real option for an embedded app.

https://gith

[2019-01-18 00:17] sam-cnet commented on #809
Embedded Modal needs at least a **title** prop and either **src** prop or **message** prop with a value. You cannot use a child component in an embedded Modal. So if you're doing this:

[code]
**dont** because it has caused me those app-bridge errors. Hope this helps I pretty much spent this week reading, testing and playing with embedded Modal.

[2019-01-18 02:34] ptcampbell commented on #809
Thanks @sam-cnet.

Unfortunately I still had trouble getting the example set out in the docs to work, which is using a self closing `<Modal/>` element.

[2019-01-18 02:36] sam-cnet commented on #809
Hi Patrick my current setup is Polaris @3.4.0 and app-bridge @1.0.3 running chrome

Sent from my iPhone

On Jan 17, 2019, at 9:34 PM, Patrick Campbell <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @sam-cnet<https://github.com/sam-cnet>.

Unfortunately I still had trouble getting the example set out in the docs to work, which is using a self closing <Modal/> element.

—

[2019-01-18 07:01] #765 closed

[2019-01-18 15:29] nat-king opened #899 "Badge gets deformed when it becomes 2 lines due to small viewport."
# Issue summary

The badge component gets deformed when it gets broken into 2 lines.
- The line-height seems excessive.
- The width of the badge remains as it was instead of adopting the one of the text.
- The status indicator on the left is getting deformed.

<img width="370" alt="screen shot 2019-01-17 at 1 31 39 pm" src="https://user-images.githubusercontent.com/22918527/51341354-2535aa00-1a5f-

[2019-01-18 15:30] nat-king commented on #899
This issue is also open in Web: https://github.com/Shopify/web/issues/9294 and I'm currently working on it. I will link the PR here when available.

[2019-01-18 16:44] clauderic opened #903 "[ChoiceList] Allow passing a string to the `selected` prop if `allowMultiple` is false"
# Feature request summary
- Allow passing a string to the `selected` prop of `ChoiceList` if `allowMultiple={false}`.
- Update the type of the `selected` argument in the `onSelect` callback to `string | string[]`

## Rationale

Currently, the `ChoiceList` component only accepts passing an array of selected choices to the `selected` prop. The `onChange` handler also returns an array of selected cho

[2019-01-18 17:41] #820 closed

[2019-01-18 20:04] kaelig commented on #885
That would probably be a question for @tmlayton!

[2019-01-18 20:58] dpersing opened #904 "[Exception list] Update screenshot example"
# Issue summary

The value for `dark yellow` has been updated from `#9c6f19` to `#8A6116` (https://github.com/Shopify/polaris-styleguide/issues/2482). As a result, the screenshot example of dark yellow exception list text should be updated as well in the [component content guidelines](https://polaris.shopify.com/components/lists-and-tables/exception-list#section-content-guidelines) (v3.4.0+).

Ori

[2019-01-18 22:18] #688 closed

[2019-01-19 03:45] ptcampbell commented on #809
I got it working, although I didn't really narrow down what it was. Either I was setting both the `message` and `src` together — or maybe my version of the app-bridge was the problem. Anyway, thank you!

[2019-01-19 04:00] ptcampbell commented on #809
@AndrewMusgrave for folks in future: the example should probably include a `message` string rather than a URL in `source` since the example does not resolve and the console error is unclear. 😇

[2019-01-19 04:00] #809 closed

[2019-01-19 04:31] sam-cnet commented on #809
Sweet! Happy for you! The docs are updated very frequently so I’m sure we’ll see many changes very quickly.

Sent from my iPhone

On Jan 18, 2019, at 11:00 PM, Patrick Campbell <notifications@github.com<mailto:notifications@github.com>> wrote:

@AndrewMusgrave<https://github.com/AndrewMusgrave> for folks in future: the example should probably include a message string rather than a URL in source si

[2019-01-19 09:55] ice-lenor commented on #862
Thank you for your reply, sam-cnet.

I'm using bridge 0.7.3.

1. I also thought frame was only for stand-alone apps, but the app breaks without it.

This is what happens if I have two AppProviders, and the innermost is without the apiKey, and I don't have a Frame, and the app is embedded:

[code]

[code]
[code]

And if I only leave one AppProvider with apiKey, and I don't have a frame (or if I do

[2019-01-19 18:04] sam-cnet commented on #862
Not confusing. The first thing that comes to mind after reading is to go to your shopify partner dashboard > your app extensions > shopify admin tab > manage embedded app, then enable and disable “Embed your app”.

Sent from my iPhone

On Jan 19, 2019, at 4:55 AM, ice-lenor <notifications@github.com<mailto:notifications@github.com>> wrote:

Thank you for your reply, sam-cnet.

I'm using bridge 0.7

[2019-01-19 19:48] imgntn opened #905 ""ProductVariant" Resource Picker doesn't display product name"
# Issue summary
"ProductVariant" Resource Picker doesn't display the product name -- so if you have variants with the same name on different products, it's almost impossible to tell them apart when using this type of picker.

## Expected behavior

It should show the product name somewhere (and allow it to be searched on).

## Actual behavior
 Doesn't show product name; it's confusing.

## Steps to

[2019-01-19 19:51] imgntn commented on #905
my use case is actually just trying to select a single variant for a product -- for the "Product" type picker (where the formatting is nice) unfortunately the "allowMultiple={false}" property only applies to products, not variants.  so you can still select multiple variants there (expected or bug?).  that led me to try the "ProductVariant" type picker, but you can't differentiate between variants.

[2019-01-19 23:33] sam-cnet commented on #862
@ice-lenor I notice you're using app-bridge actions to create and open the Toast. Try something like below and see if you can get it to work.

[code]

[code]
Best of luck!

[2019-01-20 20:56] dan-gamble commented on #875
Never mind, this was just me being stupid and me thinking there was an issue with the docs.

If anyone does come by this for whatever reason the line for `AppProvider` is:

[code]

And not
[code]

I didn't read the

[code]

In the `next.config.js`

Sorry for derailing this issue

[2019-01-20 23:16] ptcampbell opened #906 "Allow changing the app title"
I want the ability to change the App Title since…

* The app's title is more verbose than is required in the UI.
* The truncation occurs at an unfortunate position.
* The logo is enough and the area looks cluttered.

It would also be really nice to have an `onAction` method as per #416 — it looks pretty janky when you reload the frame (plus the state is reset) etc.

Thanks!

[2019-01-21 07:07] imgntn opened #907 "Layout 1/2 + 1/2 'oneHalf' not working"
# Issue summary
When you use the <Layout.Section oneHalf> components, it doesn't work and just stacks full width columns.  Problem apparent in Polaris docs.

## Expected behavior

Two columns, side by side

## Actual behavior

The columns stack at all widths :/

## Steps to reproduce the problem

1. Visit docs or try two <Layout.Section oneHalf>
![these should be 1/2 and 1/2, my screen is 1920x108

[2019-01-21 15:53] AndrewMusgrave commented on #907
Hi @imgntn the the section we use to display examples is just a little small in the styleguide. The prop seem to be working on a [larger screen](https://codesandbox.io/s/n0mqzkr49m). Please feel free to let me know if your still having issues;

[2019-01-21 15:53] #907 closed

[2019-01-21 15:59] AndrewMusgrave commented on #906
Hi @ptcampbell thanks for taking the time to create this issue. I'm going to label it as a feature request and close the issue. Please feel free to upvote the first comment so we can gage intrest 😄

[2019-01-21 15:59] #906 closed

[2019-01-21 17:20] imgntn commented on #907
It still doesn't work for me inside of an app that's embedded in the Shopify Admin - maybe because of the Shopify sidebar?

My resolution is 1920x1080.

I think the breakpoint may be set a little wide, or behave differently when it's embedded.

![not breaking](https://i.imgur.com/a0ooZEW.jpg)

[code]

[2019-01-21 18:21] AndrewMusgrave commented on #907
I'll see if I can reproduce this within an embedded app later. Do you know what the width of the content is within `Layout`? I believe the breakpoint for `oneHalf` is hit around 984

[2019-01-21 18:53] imgntn commented on #907
oof yeah that's my bad -- i had a style somewhere settings a max-width to 960, so just under the breakpoint.  that combined w/the docs made me think the problem was on your end, but it wasn't.  would be good to have it work as expected in the docs though!

thanks for your time :)

[2019-01-21 19:12] elizabethletourneau opened #910 "[DropZone] Uses the old ref React syntax"
# Issue summary
-Update `ref` occurrences in `DropZone` to follow current proper syntax.

## Expected behavior

React supports a special attribute that you can attach to any component. The ref attribute can be an object created by React.createRef() function.

## Actual behavior

ref={this.setNode}

[2019-01-21 19:39] asalisbury commented on #903
To avoid having extra conditional logic scattered everywhere for what looks like a a common solution, I would favor something like `<SingleChoiceList />` if it means that consumers of `<ChoiceList allowMultiple={false} />` won't need to duplicate that type-guard conditional wherever used.

[2019-01-21 20:30] AndrewMusgrave commented on #907
Fair point. I'll open up an internal issue for our styleguide to see if there's anything we can do to improve this.

[2019-01-21 20:34] AndrewMusgrave commented on #905
Thanks for submitting the request @imgntn . We close all feature requests and encourage everyone interested to upvote the original comment by adding 👍 to help us gage interest.

[2019-01-21 20:34] #905 closed

[2019-01-21 22:38] #536 closed

[2019-01-21 23:16] sam-cnet commented on #875
@alexdover Thanks for sharing that I too plan on integrating with Shopify POS so hopefully things will be sorted out by then :p

[2019-01-22 09:46] fchienvuhoang commented on #387
![screen shot 2019-01-22 at 4 44 43 pm](https://user-images.githubusercontent.com/4451749/51526554-3dddff80-1e65-11e9-95e6-922a2acd7fd9.png)
anyone got this bug css like me?

[2019-01-22 14:53] solonaarmstrong opened #913 "[DataTable] Slight offset between fixed column and the rest of the table"
# Issue summary

Brought up here: https://github.com/Shopify/polaris-react/issues/387#issuecomment-456335668

## Actual behavior

![image](https://user-images.githubusercontent.com/6239480/51543435-6983ca00-1e12-11e9-92f6-aba07f5f56c1.png)

## Specifications

polaris: 3.5.0
chrome browser
mac osx

[2019-01-22 14:54] solonaarmstrong commented on #387
@fchienvuhoang Interesting. I've created a separate issue. https://github.com/Shopify/polaris-react/issues/913

[2019-01-22 17:55] #620 closed

[2019-01-22 19:05] kaelig opened #917 "Deploy script opening a PR to polaris-styleguide sometimes fails"
Part of the 3.5.0 deploy of polaris-react failed (see https://shipit.shopify.io/shopify/polaris-react/production/deploys/708703):

[code]

I believe this is caused by a lag in the npm registry, and the package couldn’t be found at the time the `yarn upgrade @shopify/polaris@3.5.0` command ran.

A possible fix could be to wait ~30s before running the `open-styleguide-pr` script, leaving some time f

[2019-01-22 19:36] chloerice commented on #873
Hey @tabrez96, thanks for raising this! I've got a [PR up to fix this](https://github.com/Shopify/polaris-react/pull/918).

To answer your question about the purpose of the `defaultSortDirection`, the prop allows developers control over the table's initial sort direction (which defaults to `ascending` if not set). What this prop does is set the icon of the sorted column and the table's accessibili

[2019-01-22 22:10] kyledurand opened #921 "[ResourceList] Search and sort by <select /> are overflowing offscreen in some languages"
# Issue summary

The `sort by` dropdown is overflowing off the page on small screens

![image](https://screenshot.click/Shop_1__Bestellungen__Shopify_2019-01-22_16-42-46.png)

Can't see inputted search text on small screens either

![image](https://screenshot.click/Shop_1__Bestellungen__Shopify_2019-01-22_16-57-16.png)

## Expected behavior

I don't have a proposed solution. I don't think truncati

[2019-01-22 23:13] #779 closed

[2019-01-23 07:25] sdn90 opened #925 "ES Modules - esnext build directory"
I'm trying to use the esnext directory and I'm running into a few issues. Is this ready for public use? Also, I'm not really sure if my intended use case matches what you guys were planning for this.

I'm just replacing my imports from `import { Card } from "@shopify/polaris" ` to `import { Card } from "@shopify/polaris/esnext"`

How I'm expecting this to work is I should be able to import compone

[2019-01-23 14:14] arieljaw12 commented on #387
Hello @solonaarmstrong

I'm using `text` for both, the `Link` and the `Stack` component. I create an example of my code with harcoded data, you can see here: https://codesandbox.io/s/kkrr9z275r

As you see I'm experimenting the same issue when I give the table more screen width:
![image](https://user-images.githubusercontent.com/32110225/51612269-de80fd80-1eff-11e9-8832-9d1b11fc198f.png)

You can

[2019-01-23 18:39] #669 closed

[2019-01-23 18:52] BPScott commented on #925
Hi @sdn90,

The esnext folder doesn't quite do what you think it does. The good news is that getting what you want is simpler than what you're attempting.

If you're looking to use es-modules then you can `import {Card} from '@shopify/polaris'` and things will work as you intend.

We specify a [module field in our package.json](https://github.com/Shopify/polaris-react/blob/c244612b0cbf3f36f3831468

[2019-01-23 18:54] solonaarmstrong commented on #387
@arieljaw12 The screenshot you have there is not what renders in the sandbox. The row borders don't render, so something's breaking. I was able to strip it down and recreate it locally. One thing stands out:

[code]

The headings are typed as an array of strings `string[]`.

Moving forward we've talked about making data table more flexible so it can accept headings and row links, but I don't have

[2019-01-23 19:08] solonaarmstrong commented on #913
@fchienvuhoang Is there a specific environment that causes this bug? Screen size? Does it happen with or without headings? I've played around with it and can't reproduce. Thanks.

[2019-01-23 19:33] dpersing commented on #387
Dropped a question about the heading hierarchy in the related style guide PR: https://github.com/Shopify/polaris-styleguide/pull/2493#issuecomment-456935369

Currently, the Accessibility heading is getting rendered as an `<h3>`, which is throwing off the section hierarchy.

[2019-01-23 19:57] kaelig commented on #917
Closing as this is such a rare occasion and not critical – so investing in this may not be very impactful.

[2019-01-23 19:57] #917 closed

[2019-01-24 03:39] #925 closed

[2019-01-24 12:18] arieljaw12 commented on #387
@solonaarmstrong Hello, thanks for the reply and your time. I think that you have to resize the screen on sandbox to see the row highlighted. With the default size the highlight is not rendered. I replaced the `Heading` components with plain `strings` but I'm still get the same:

![image](https://user-images.githubusercontent.com/32110225/51677566-d5a03280-1fb8-11e9-9d5e-3bc6b3f260c6.png)

See tha

[2019-01-24 15:14] theodoretan commented on #885
I think having the Icon component render SVGs inline is potentially risky, as when other teams need to render 3rd party SVGs without knowing this vulnerability and use this component or use `dangerouslySetInnerHTML`, we reintroduce the risk of XSS.

Would it make sense to have a separate component that handles this use case instead of trying to merge it with the current Icon component?

I noticed

[2019-01-24 16:18] nat-king commented on #899
Here is the PR that was merged in the web repo to address this issue: https://github.com/Shopify/web/pull/10092

This PR didn't change the width of the badge when wrapping, only the deformation.

[2019-01-24 17:22] #750 closed

[2019-01-24 18:31] amrocha commented on #885
I agree with Theodore that it's risky to have this as is. I also don't know if a separate component would work out, because people might just misuse them if they're unaware of the difference. I think I can help out though.

Something I'm going to be looking into next week is replacing our SVG loader with [SVGR](https://github.com/smooth-code/svgr).

What that means for this PR is that all local ic

[2019-01-24 18:40] theodoretan commented on #885
👍 This works for me. Thanks for the context @amrocha!

I'll hold of on my implementation til SVGR is added.

[2019-01-25 00:47] sam-cnet commented on #553
This sounds super cool and came looking for this feature request because todoist has a great toast with "undo" action.

[2019-01-25 01:29] kaelig opened #934 "[README files] URLs should point to existing GitHub pages"
## Issue

### Steps to reproduce

1. go to https://github.com/Shopify/polaris-react/tree/master/src/components/Autocomplete
2. click "text field component"

### Actual

💣 Links to https://github.com/Shopify/polaris-react/blob/master/components/forms/text-field

### Expected

✅ Links to https://github.com/Shopify/polaris-react/tree/master/src/components/TextField

## Proposal

For these URLs to wor

[2019-01-25 16:01] amrocha commented on #885
I like this since it allows us to ship non-breaking changes quickly to address the security issue.

That being said, I don't feel confident in "opt-in security" features like that long-term though, since they're prone to human error. My proposal would be that for a 4.0 release we remove the `untrusted` prop, and treat any strings passed into `Icon` as unsafe, along with a shift to SVGR and a recom

[2019-01-25 16:32] dmeeking opened #935 "[ResourceList] support shift-key range selections"
# Feature request summary

Resource Lists should support shift-key based range selection. Example:
Select item #1
Shift-click to select item #10
Result: I have selected all 10

## Rationale
Many bulk workflows originate from resource lists. This should be default behaviour to speed up selection of multiple items.

---

🌟 Feature requests that are not yet planned will be closed. We then use the iss

[2019-01-25 16:49] #842 closed

[2019-01-28 15:15] maxariss opened #936 "[Resource List] Bulk action buttons not always showing when selectedItems are set"
While building a custom `filters` component to be used with the `<ResourceList />` – I noticed that programatically updating the `selectedItems` doesn't toggle the `<BulkActions />` button visibility.

Here is a gif outlining my predicament (see when I click on the `Red` filter):

![screen recording 2018-07-31 at 02 51 pm](https://user-images.githubusercontent.com/12142249/43481668-9581daa6-94d4-1

[2019-01-28 15:31] solonaarmstrong opened #937 "[Range slider] Remove tip"
The tip was removed from tooltip and popover. Remove it from range slider.

[2019-01-28 20:08] maxariss opened #940 "[Autocomplete][v1] Requesting access to options popover visible state"
# Feature request summary
I'm hoping we can add something to the `<Autocomplete />` component's API which allows us to know whether or not the options `<Popover />` is visible.

## Rationale
We have an `<Autocomplete />` used in a rather large form. We would like all fields in the form to submit the form if the <kbd>enter</kbd> key is pressed while they are focued. Except for when the options `<Po

[2019-01-28 21:46] sarahill commented on #868
I'm for the proposed change. Makes sense and feel like it keeps it cleaner. 👍

[2019-01-28 21:48] sarahill commented on #868
Ah looks like this has been fixed!

[2019-01-28 21:48] #868 closed

[2019-01-28 22:18] ry5n commented on #940
@maxariss Can you share the details about this form (either here or in Slack)? It sounds unusual. cc @dpersing

[2019-01-28 22:35] ry5n commented on #921
The filtering part is being looked into now, and should improve this situation somewhat.

For the resource list header (bulk actions and sorting), truncation seems like the only thing that could be done in the component, short of a major redesign. The Polaris team might be able to tackle such a thing around Q2, but not at the moment.

In terms of content, the [resource list documentation has some

[2019-01-28 22:39] ry5n commented on #903
If we ultimately decide two separate components is best, I would much prefer to stick to HTML naming and go with something like `RadioList` and `CheckList` (or `CheckboxList`).

I’m in support of making this easier for the consumer regardless of the ultimate solution.

[2019-01-28 22:49] ry5n commented on #899
I agree we should fix this. The linked changeset looks reasonable and I’d welcome a similar PR here. There are some things I’d change:

- Use a line height that fits the [Polaris spacing system](https://polaris.shopify.com/design/spacing#navigation): 16px rather than 15px would work
- Consider using a min-height to control the height of the element; this allows choosing an amount of vertical paddi

[2019-01-28 23:21] ry5n commented on #880
@juwanpetty Thanks for the request. I’m not sure I completely understand the request, so please correct me if I misunderstood.

If you’re looking to use the native HTML5 date and time inputs, you can use the `type` prop on the `TextField` component to do so. It accepts `date`, `time`, `week`, `month` and `datetime-local`.

The picker support would depend on the browser, but you could switch the UI

[2019-01-28 23:32] ry5n commented on #862
@tmlayton Any chance you can look into this?

[2019-01-28 23:46] ry5n commented on #788
Just reviewed the proposal here in light of https://github.com/Shopify/polaris-ux/issues/237, and I think it’s a great complement to that issue. If we do this proposal, and give modals (and popovers) a visible focus state when interacted with via the keyboard, we’ll be in good shape!

[2019-01-29 08:47] tabrez96 opened #942 "Form onSubmit is not working with "Topbar.SearchField""
# Issue summary

I have used Topbar from polaris. In my `searchFieldMarkup` I have included a `Form` with `Topbar.SearchField` like this:

[code]

## Expected behavior
Pressing enter after entering the search string should trigger form submit.

## Actual behavior
Currently, form submit is working with `TextField`. But on replacing `TopBar.SearchField` with `TextField`, the CSS features (of `TopBar

[2019-01-29 10:47] tarunbhardwaj commented on #942
This is the expected behavior https://github.com/Shopify/polaris-react/blob/5ffde736e486ef25df4315ef69375e671a2d1c02/src/components/TopBar/components/SearchField/SearchField.tsx#L149

[2019-01-29 17:36] #491 closed

[2019-01-29 20:39] ry5n commented on #935
Absolutely, this is something I always wanted to support. @StephPoce We may have some time in Q2 to look at this.

[2019-01-29 21:14] andrewlo opened #946 "[Page] Inside embedded app: show an action's loading state"
# Issue summary

It seems like setting `loading: true` property in an Action (ex. primaryAction) a Page component in an embedded app doesn't show a spinner on the button.

This is a common use case when the primary button runs an API request.

## Expected behavior

When a Page action's loading property is true in an embedded app, it shows a spinner on the button.

## Actual behavior

It doesn't sh

[2019-01-30 18:39] theodoretan commented on #885
By adding `untrusted` as a prop, this would mean `source` would be optional right?

I'm thinking that if `untrusted` and `source` are both undefined we should render the placeholder icon. Are we okay with this?

[2019-01-31 05:09] mbaumbach opened #947 "[Stack] Vertical prop causes children to bleed outside of container padding on Chrome 72+"
# Issue summary

When using a vertical `Stack` the contents appear to break out of the container and "bleed" into surrounding padding when one of the children starts to wrap.

## Expected behavior

The `Stack` contents should be contained by the parent padding regardless of whether children wrap.

## Actual behavior

Whenever a child wraps in a vertical `Stack`, all of the children of that `Stack`

[2019-01-31 06:13] yoonwaiyan opened #948 "Polaris icons error causes webpack compile issue"
# Issue summary
We've updated to use Polaris version 3.5.0 in our updated React 16.7 codebase, but it yields UglifyJs error while compiling the bundle during deployment. Apparently this version is using beta version of polaris-icons but i saw a major release 12 days ago. I was trying to to upgrade the package to latest to try my luck but the version is locked down in package dependencies.

## Expe

[2019-01-31 07:00] yoonwaiyan commented on #948
Oh sorry, it works after upgraded my uglify-webpack-plugin.

[2019-01-31 07:00] #948 closed

[2019-01-31 13:29] paulisloud opened #949 "How to redirect from inside a Polaris component in an embedded app?"
I am attempting to redirect customers of my app to the confirmation_url to accept a billing charge in a Shopify Polaris embedded app. Per the billing API documentation, once we create the charge we need to redirect merchants to the charge's confirmation_url.

Neither a standard server-side nor client side redirect work due to CORS, so I pursued the [App Provider documentation](https://polaris.shop

[2019-01-31 20:29] chrismanderson opened #950 "How to write a Autocomplete component with multiline options?"
I'm working on an Autocomplete component and can get it displayed and populated and all that. Which is great!

Question is, how do I do multi-line options in the popover (or customize the picker in general) like how you do in -

<img width="314" alt="screen shot 2019-01-31 at 3 31 01 pm" src="https://user-images.githubusercontent.com/418258/52083363-39a09900-256d-11e9-899a-8384a42a48e9.png">

I po

[2019-01-31 20:45] juliantrueflynn commented on #824
I am also experiencing this issue with using Next.js and AppProvider. Styles are removed after initial render.

Here's the app I am working on that is experiencing this issue in case it helps: https://github.com/juliantrueflynn/conditional_welcome_bar/tree/fix__broken-ssr/client

Pictures below are in order of: initial load (when styles appear to work), and after load (styles removed).

![before](

[2019-01-31 20:48] chrismanderson commented on #950
Nevermind! Realized the `options` prop takes a node. So just passed in nodes into the options and good to go. Thanks!

[2019-01-31 20:48] #950 closed

[2019-02-01 03:33] wshen001 commented on #826
Thank you, I forgot to close the ticket. Really appreciate your explanation.

[2019-02-01 03:33] #826 closed

[2019-02-01 17:09] iainmcampbell commented on #701
@resistorsoftware Just following up to say that this issue has been resolved. The ellipsis should now only appear at very small screen sizes.

[2019-02-01 20:05] juliantrueflynn opened #952 "Page title missing and breaks Polaris HTML output"
# Issue summary

The element `Polaris-Page-Header` is wrapping around entire page content. Leaving the title hidden, breaking the HTML output, and removing styling.

@hannachen outlined the issue more [here](https://github.com/Shopify/polaris-react/issues/824#issuecomment-454571430). Note: Hanna in this said this was due to Next.js, but I believe this is an issue with all SSR which is a problem wi

[2019-02-01 20:07] dpersing commented on #795
We can keep an eye on [`inert` support](https://www.chromestatus.com/feature/5703266176335872) in regard to modals as well.

[2019-02-01 20:46] loic-d opened #953 "[Sticky] - Issue with initial rendering (using SSR) and sticky position"
# Issue summary

The `Sticky` component seems to be impacting the initial rendering of the Automatic Discount page. The right column of the page is not rendered until you scroll. Then the sticky position is a bit off. I can't reproduce in production but I can on a local branch and `master`. Removing the `Sticky` component fixed the issue.

![feb-01-2019 15-42-41](https://user-images.githubusercont

[2019-02-01 20:50] loic-d commented on #953
Wondering if it's related to SSR in web?

[2019-02-01 20:51] dleroux commented on #953
At first I was thinking this was related to the latest frame changes but I just tested this playground and it's fine:

<details>

[code]
</details>

[2019-02-01 20:55] loic-d commented on #953
Removing SSR seems to have fixed the issue. Wondering why we are only getting the error now?

[2019-02-01 20:59] dleroux commented on #953
So we'll need to prevent rendering of Sticky on the server.

[2019-02-01 21:02] loic-d commented on #953
The offset is still there even when disabling SSR

<img width="447" alt="screen shot 2019-02-01 at 4 02 39 pm" src="https://user-images.githubusercontent.com/3925905/52149468-d11fed80-263a-11e9-9beb-1eac64a7a06f.png">

[2019-02-01 21:10] dleroux commented on #953
🤔 This also works in the playground

[2019-02-01 21:24] elizabethletourneau opened #954 "[Card] Padding issue between footer actions and subdued section card"
# Issue summary

When using a subdued card and a card with footer actions the footer actions area butts 🍑 up uncomfortably against the subdued card section.

## Expected behavior

There should be some padding added to the top of the footer section to ease the eyes.

## Actual behavior

![much gross](https://screenshot.click/01-20-3kmnn-reyyz.jpg)

## Steps to reproduce the problem

1. Paste this c

[2019-02-01 21:43] kvendrik opened #955 "TopBar.UserMenu has unnecessary scrollbar"
**Screenshot from `3.6.0`**
![3 6 0](https://user-images.githubusercontent.com/4029894/52151268-7f7a6180-2640-11e9-9d1a-9716142c58a3.png)

**Screenshot from `3.5.0`**
![3 5 0](https://user-images.githubusercontent.com/4029894/52151276-8608d900-2640-11e9-89b2-c4acf7085d3a.png)

[2019-02-01 21:49] kvendrik opened #956 "Search field alignment seems off"
Should we align it with the page title on pages like this?

![screen_shot_2019-02-01_at_4 42 32_pm](https://user-images.githubusercontent.com/4029894/52151514-50b0bb00-2641-11e9-97e8-a1f6e8647283.png)

[2019-02-01 22:00] jakob-stecher commented on #956
Afaik Home is the only (although arguably the most prominent) page that uses this layout. I'm not too concerned with it looking off here, given that the alternative would be a search bar that jumps around horizontally.

[2019-02-01 22:10] #956 closed

[2019-02-01 22:34] juliantrueflynn commented on #952
I ended up figuring this out. Turns out `forceRender` is required for `Page` component for the title to show. Even when using CRA (without SSR), I had the title missing, so I don't think this is exclusive to just SSR. Maybe make this more clear in the documentation?

[2019-02-01 23:03] jakob-stecher opened #958 "Update hover on account dropdown"
Hover on account dropdown should be updated to a rounded corner box now that we've lost the dividers in the top bar. Something along the lines of this:

<img width="407" alt="screen shot 2019-02-01 at 5 36 05 pm" src="https://user-images.githubusercontent.com/28406231/52154405-af7b3200-264b-11e9-9c34-9a6d3536bcf1.png">

Let's tweak in code to see if this works.

[2019-02-01 23:51] mbaumbach opened #959 "[TextField] null value throws cannot read property length of null"
# Issue summary

When a `TextField` component is given a value of `null`, an error is thrown saying cannot read property length of null.

## Expected behavior

Providing a `null` value should render a `TextField` with no contents.

## Actual behavior

The following error is thrown:

[code]

This appears to be due to the character count trying to check the length of the value. Ideally `null` should

[2019-02-03 17:01] dan-gamble commented on #952
This fixed it for me too @juliantrueflynn.

I was following https://help.shopify.com/en/api/tutorials/build-a-shopify-app-with-node-and-react/build-your-user-interface-with-polaris and it kept breaking. Adding `forceRender` is the fix but i feel like it shouldn't need it.

[2019-02-03 18:35] wshen001 opened #961 "Input Group Component"
Is there a way to make input group like the following image?

![Image of Yaktocat](https://i.ibb.co/hcwfN6R/Screen-Shot-2019-02-03-at-1-29-23-PM.png)

Basically it combines input field with button, I have tried a few ways but not as easy as I thought with current <Stack> component.

[2019-02-03 18:53] mbaumbach commented on #961
@wshen001 You can use the `connectedRight` prop on the `TextField` component. Something like this should work:

[code]

[2019-02-03 22:16] wshen001 commented on #961
It works, thanks for pointing it out @mbaumbach.

[2019-02-03 22:16] #961 closed

[2019-02-04 16:23] maxariss commented on #953
Also affected by this 😢

Specifically, I'm affected by the bug where the position is wrong, and my sticky container is being overlapped by the TopBar.

Disabling SSR doesn't help either.

This is preventing the new `<CollectionProductsSendTo />` from shipping:

![gif](https://user-images.githubusercontent.com/12142249/52221477-3eb45f80-286f-11e9-86b5-3e2a4e87a426.gif)

[2019-02-04 16:35] chloerice commented on #952
Hey @juliantrueflynn, thanks for raising this and linking to the related discussion in #824! Can you explain or share a code snippet of where you forcing the render to fix this for future reference? Are you using `this.forceUpdate`?

[2019-02-04 16:42] loic-d commented on #953
@daniedleroux @maxariss
So we have two issues:

- Initial rendering is not properly done when rendering on the server
- Top sticky position is not properly  computed anymore (when rendered on the server or not)

[2019-02-04 17:06] juliantrueflynn commented on #952
@chloerice the repo in the original post [here](https://github.com/juliantrueflynn/shopify-koa-app-example/tree/error__page-header). The edit was made to [this line](https://github.com/juliantrueflynn/shopify-koa-app-example/blob/error__page-header/app/App.js#L22) to add `forceRender` prop. I tested this on Next.js Shopify App project too and it also worked.

[2019-02-04 17:15] vividviolet commented on #824
@w00kie @damianhodgkiss @juliantrueflynn we're exploring a solution to this issue that will not require adding `forceRender` to the Page component. We'll keep you updated.

[2019-02-04 17:22] chloerice commented on #952
Sorry, I'm not seeing that prop anywhere. I do see `forceRedirect` is set on the `AppProvider`, is that what's fixing it?

[2019-02-04 20:00] sarahill opened #965 "[List filters] Design merchant opt-in/out flow"
## Problem

The List Filters update will affect a lot of different list views throughout the Shopify Admin. We don't currently have an effective way to allow merchants to opt-in or turn on a feature on their own time. Automatically turning on features that could potentially slow down a merchants workflow can be frustrating.

## Solution

Allow the merchant to choose when they want to turn on an `e

[2019-02-04 22:18] agustingabiola opened #971 "[Textfield] Wrapper doesn't have an easy editable class"
# Feature request summary

Textfield wrapper doesn't have an easy editable class.

[code]
Renders to:

![image](https://user-images.githubusercontent.com/1523829/52241062-88259e80-28b1-11e9-8823-3b8112efa60b.png)

## Rationale

If the wrapper `div` has an actual class it will be easier to style the component. For example, to put the label to the left of the field

---

🌟 Feature requests that are

[2019-02-04 22:38] supervee opened #972 "[Autocomplete][v1]disabled is not fully disabled."
# Issue summary

A disabled AutoComplete field can still be clicked and selections can still be made.
An example can be seen here: https://bullandcleaver.myshopify.com/admin/marketing/activities/666dcce8-6389-425f-bcf0-6c9469b6716f?activity_id=3152707618

(Specific Interests field -- there are no available options but I was able to replicate this on the Polaris site sandbox)

## Expected behavior

[2019-02-05 13:55] dleroux commented on #953
I'm not convinced that ssr is the culprit because when we start scrolling the calculations should fix themselves with the exception of the top bar. The `tobBarOffset` is calculated on `ComponentDidMount` of the app provider so this should happen on the client only. In `Quilt` the `react-html` package adds `display: none` to the body, so when we query the top bar clientHeight on mount `clientHeight

[2019-02-05 15:07] sarahill commented on #965
Submitted an illustration request today, 2/15/2019, for the opt-in banner. I think we can ship without it if the timing does not work but I believe it would help call attention and help promote the feature.

[2019-02-05 15:21] sarahill commented on #965
A couple of explorations for the opt in banner:

![screen shot 2019-02-05 at 10 21 10 am](https://user-images.githubusercontent.com/8629173/52283060-ceb9de00-292f-11e9-91c4-ef52c114a104.png)

![screen shot 2019-02-05 at 10 21 17 am](https://user-images.githubusercontent.com/8629173/52283062-ceb9de00-292f-11e9-8253-c6e9129d995b.png)

[2019-02-05 23:31] ry5n commented on #896
This prevents us from manually testing component changes in mobile browsers—pretty important. Just checked master; [the potential fix linked to above](https://github.com/Shopify/polaris-react/pull/852/commits/7d41ec099ea44f88994bef7ba8a7d4fb9ff6ad88) is merged, but the issue is still there.

[2019-02-06 16:00] kvendrik commented on #896
@ry5n https://github.com/Shopify/polaris-react/pull/852/commits/7d41ec099ea44f88994bef7ba8a7d4fb9ff6ad88 was never merged as it was out-of-scope for the PR, it was removed in https://github.com/Shopify/polaris-react/pull/852/commits/39d74ddc3244d708a31209cc3869a8d678c54739. 🙂

[2019-02-06 16:07] ry5n commented on #896
🙋‍♂️ If that changeset is all that’s needed I’m happy to open it as a new PR

[2019-02-06 16:30] kvendrik commented on #896
@ry5n seems to be the case but wanted to address it separately at some point as I don't know if there are edge cases where it could potentially mess up the testing env. Feel free to open a PR 🙂

[2019-02-06 16:58] laranoell opened #977 "Page titleMetaData vertical alignment issue"
# Issue summary

The Polaris Page Title is aligning it's child elements to the baseline, rather than the center.

## Expected behavior
<img width="388" alt="screen shot 2019-02-06 at 11 56 54 am" src="https://user-images.githubusercontent.com/3307989/52358666-6b4eaf80-2a06-11e9-8349-0b7331534b6b.png">

## Actual behavior
<img width="414" alt="screen shot 2019-02-06 at 11 56 32 am" src="https://use

[2019-02-06 18:40] imgntn opened #979 "AppBridge throws error regarding shopOrigin"
# Issue summary

I'm using AppBridge in an Embedded app w/ Polaris.

I'm getting an uncaught error from AppBridge regarding 'shopOrigin' -- it doesn't matter whether I defined a shopOrigin on my AppProvider or not.

Any insight?

Thanks!

## Expected behavior

the app should load w/o errors

## Actual behavior
this error stack
[code]

## Specifications

- Are you using the React components? (Y/N):

[2019-02-06 21:08] tmlayton commented on #979
Hey @imgntn, thanks for the issue. Can you provide a full code snippet? Did you include the API key?

[2019-02-06 21:55] lemonmade opened #980 "Polaris performance considerations"
This isn't strictly speaking an issue, more a request for the team to investigate some opportunities for optimization. While profiling the start up of Shopify Web, I noticed some things where Polaris was not living up to my expectations:

1. It brings in lodash/ lodash decorators. We have been too relaxed about having this as a dependency, and I feel it is time we treat our core dependencies as a

[2019-02-06 22:41] AndrewMusgrave commented on #980
Iv’e previously looked at our uses of lodash and lodash decorators and we can 🔥  them fairly easily.

[2019-02-07 00:03] BPScott commented on #980
Half baked idea: Make `i18n` a required key on <AppProvider> in v4? I guess we can look into what that means in depth later as IIRC we have some translations based stuff on our roadmap. (hi @danrosenthal)

[2019-02-07 01:32] danielkermode opened #983 "Polaris Modal Component has unclear behaviour while connected to the App Bridge"
# Issue summary

If the Polaris Modal Component renders in "App Bridge" mode, it does not allow children.

## Expected behavior

The Modal Component should render when passed children, as it behaves in standalone mode.

At the very least, give the option to prevent the Polaris Modal Component from working in "App Bridge" mode by passing through a prop to disable "App Bridge" mode.

## Actual behav

[2019-02-07 15:34] dpersing commented on #983
Hi @danielkermode! Could you provide a code snippet (even a reduced skeleton if you're more comfortable with that) showing what you've got in the `<AppProvider apiKey={API_KEY}>` wrapper? That can help us pinpoint the issue. Thank you!

[2019-02-07 15:39] dpersing commented on #977
Thanks @laranoell!

@ry5n or @sarahill, any thoughts on the expected alignment for the badge?

[2019-02-07 15:53] dpersing commented on #971
Hi @agustingabiola! Thanks for the request. We typically recommend placing the label above the field since it's easier to read across devices, but we can look into this. I'll close this issue right now since it's not on our current roadmap.

Please 👍this issue if you're looking for this feature as well, which will help us prioritize!

[2019-02-07 15:53] #971 closed

[2019-02-07 15:54] dpersing commented on #963
@ry5n Is this something we want to add to the road map, or shall we close it out for now?

[2019-02-07 15:59] dpersing commented on #959
Hi @mbaumbach! Leaving out the `value` prop renders an empty field currently, with a `value` attribute with a null value. Does that work for your scenario?

[code]

[code]

[2019-02-07 16:11] mbaumbach commented on #959
@dpersing I actually think passing a `null` to `value` is rightfully a bug in the application consuming Polaris. React even warns you that the underlying input field is uncontrolled. When I came across this problem, I simply fixed it to never pass `null`. Ideally, everybody would be using TypeScript and this would be a compile time error instead of runtime, but I opened this bug originally because

[2019-02-07 16:13] dpersing commented on #949
Hi @paulisloud! Sorry for our delay in getting to your question. Were you able to find the info you needed in the [Redirect](https://help.shopify.com/en/api/embedded-apps/app-bridge/actions/navigation/redirect) documentation linked from the app provider page you mentioned?

[2019-02-07 16:21] agustingabiola commented on #971
I'm talking about the div with an empty class Polaris generates that wraps both the `LabelWrapper` & `TextField`

[2019-02-07 16:50] dominiquesr commented on #953
@dleroux @lemonmade Are either of you working on this issue? It's blocking the release of a feature we had planned to bug hunt two days ago

[2019-02-07 16:51] amireynoso opened #985 "[TextField] Focused prop is not setting focus on the element"
# Issue summary

The `focused` prop on the `<TextField />` component is not setting focus on the input.

## Expected behavior

When `focused` is set to `true`, the input (or textarea if `multiline` is set) should be on its focus state.

## Actual behavior

The input/textarea is on its default state.

## Steps to reproduce the problem

1. Create a `<TextField />` with the `focused` prop set to `tru

[2019-02-07 17:06] lemonmade commented on #953
@dleroux I don't see a problem with it, no. If that is the source of this issue, it only affects dev, and might not actually be fixed in dev anyways because of how we inject the styles into the head after the JS loads (I am not positive that it will still break, but in dev it certainly corrects when you do anything that forces the sticky manager to recompute the position). Running the prod build w

[2019-02-07 17:10] dpersing commented on #944
This would also help address https://github.com/Shopify/polaris-ux/issues/146, if we include a text equivalent along with the icon.

[2019-02-07 17:50] loic-d commented on #953
From what I see, production does not seem to be impacted.
I could reproduce the issue on a local branch. This same branch 🚢

[2019-02-07 18:26] imgntn commented on #979
it looks like it was because i was including the shopOrigin as

[code]

[2019-02-07 18:26] #979 closed

[2019-02-07 18:58] solonaarmstrong commented on #798
⭐️

[2019-02-07 19:29] paulisloud commented on #949
Thanks for getting back to me @dpersing, but unfortunately that documentation also asks you to create the `redirect` instance using the `shopOrigin` and `apiKey`, meaning we would need to:

* `createApp` while in a component, which is inside the app already, and pass `shopOrigin` and `apiKey` all the way down to the component, or
* should we instead create `redirect` at the top level of the app an

[2019-02-07 20:25] elliejeon opened #986 "Character limit component"
# Issue summary

Character counter breaks the text field when the input text gets longer than the provided space and makes the scroll bar appears.

## Expected behavior

Scroll bar should stick to the right side of the text field and allow the entire space inside the field to be used for text input.

## Actual behavior

Scroll bar appears in the middle of the field, left to the character counter.

[2019-02-07 20:33] emarchak commented on #986
On multiline fields overlaying the counter would cause the text to show _under_ the element if it takes the entire space of the field. On this initial look, I could see three options:

1. Accept the overlayed text weirdness.
2. Expand the component to allow the full text to be shown without scroll, thereby avoiding this.
3. Stop the active area (scrollbar) above the text element so that there's sp

[2019-02-07 20:55] dpersing commented on #986
That's my favorite option!

[2019-02-07 21:07] #873 closed

[2019-02-07 21:11] dleroux commented on #953
Other than investigating i have not done additional work. It will need a change in Quilt. I will see if i can make time soon but if someone else has time go for it. @loic-d?

[2019-02-07 21:52] loic-d commented on #953
@dleroux Are you suggesting not to render the component on the server?

[2019-02-08 00:06] dleroux commented on #953
No. The react-html package in ‘Quilt’ sets the body style to ‘display: none’ while the page loads. We need to change that to ‘visibility: hidden’. Then we need a version bump and update web.

That will solve the top bar height to be registered in the ‘Sticky Manager’. I can’t reproduce your second issue but I have a feeling it’s related as well.

[2019-02-08 02:10] danielkermode commented on #983
Sure. `window.shopifyApiKey` contains the public API key for the application. The app bridge is working otherwise, as `ResourcePicker` renders correctly.

[code]

[2019-02-08 05:36] sdn90 opened #989 "[Autocomplete][v1] Using actionBefore prop throws uncaught invariant violation"
# Issue summary

## Expected behavior

Should render when using actionBefore prop

## Actual behavior
React throws:

<details>
main.bundle.js:sourcemap:48448 Uncaught Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.
</d

[2019-02-08 16:49] dpersing commented on #983
Thanks @danielkermode. @tmlayton is this something you can take a look at?

[2019-02-08 16:54] ry5n commented on #963
I think we can close this out. It would be nice to have but I haven’t heard any requests for it.

[2019-02-08 17:08] ry5n commented on #977
Agree we should fix this. It’s a challenge because the desired alignment depends on the content. The current alignment looks right for text content, but not for badges. Using center alignment looks right for badges but not text content.

Some possible solutions:

- Change the alignment to favor badged. If badges are the common case, this is OK.
- Add a new prop for badges or other chunky elements

[2019-02-08 18:47] AndrewMusgrave opened #991 "Remove lodash / lodash-decorators"
### Lodash decorators
- [x] Throttle #1009
- [x] Remove from package #1009

### Lodash
- [x] Merge #1018
- [x] Get #1013
- [x] Replace #1012
- [ ] isEqual #1017
- [x] capitalize #1015
- [x] pick #1020
- [x] isObject #1011
- [ ] remove from package #1016

### Lodash in `examples/create-react-app`
- [x] Merge #1010

Related - #980

[2019-02-08 20:21] chloerice commented on #963
Yeah, since we moved to open dev this is now a duplicate issue of #373, so closing 👍

[2019-02-08 20:21] #963 closed

[2019-02-08 20:27] tmlayton commented on #983
Hey @danielkermode, thanks for the issue, though the modal component when used in an embedded app does not allow children. The option here is to build a view in your application and use the `src` option on `Modal` to render a modal with an iframe.

<img src="https://user-images.githubusercontent.com/344839/52504278-cd411d80-2b9c-11e9-9036-d3605dce6328.png" width="300" />

[2019-02-08 20:27] #983 closed

[2019-02-08 21:03] #959 closed

[2019-02-09 00:13] jim-chou-shopify opened #995 "[Tabs] Support actions in Tab panel"
# Feature request summary
Tabs should support actions to enable more flexible layout.

## Rationale
This feature will allow actions to exit on the right of tabs.
[code]
![52427419-dc0ccf00-2acd-11e9-90b6-1d65df4a9707](https://user-images.githubusercontent.com/39597748/52512871-304ea680-2bd5-11e9-9393-02bd6882fb95.png)

---

🌟 Feature requests that are not yet planned will be closed. We then use th

[2019-02-09 00:28] jim-chou-shopify opened #996 "[Card] Misalignment between title and action button"
# Issue summary
Title of `Card` appears to be misaligned when `Button` is a child of `Card.Header`.
[code]

## Expected behavior
Expect title and button to appear aligned.

## Actual behavior
<img width="659" alt="screen shot 2019-02-08 at 6 33 47 pm" src="https://user-images.githubusercontent.com/39597748/52513107-a30c5180-2bd6-11e9-91a0-8d6daf063e84.png">

## Reduced test case
https://codesandbo

[2019-02-09 00:28] jim-chou-shopify commented on #995
FYI, I opened a misalignment issue when using `Card.Header` and `Button`.
https://github.com/Shopify/polaris-react/issues/996

[2019-02-09 00:38] jim-chou-shopify opened #997 "[Loading] Use Loading outside of Frame"
# Feature request summary
Expose [Loading](https://github.com/Shopify/polaris-react/tree/master/src/components/Frame/components/Loading) component to be used outside of `Frame`.

## Rationale
Marketing section has a [use case ](https://github.com/Shopify/web/pull/10467)to use `Loading` component to indicate a section of the page is loading.

![live preview](https://user-images.githubusercontent.co

[2019-02-09 14:35] jbasko opened #998 "Embedded app, Polaris, react router, clicking on app name in the top bar causes full reload"
(I have updated this numerous times and have deleted the now obsolete comments)

I have spent two days trying to understand how exactly navigation works with AppBridge, breadcrumbs, history in combination with react router, all that. In the end it boils down to one issue - when I click on the name of the app in the top left corner (not the icon, but the name of the app; I imagine icon is meant to

[2019-02-09 16:33] jbasko commented on #998
Further observation -- if somewhere in code I don't notify App Bridge's history about a change, the URL is not updated, however, the back button remains functional.

Now this makes me think I am assuming something incorrectly.

[2019-02-09 22:01] jbasko commented on #998
As soon I changed my code to instead do `embHistory.dispatch(History.Action.REPLACE, relativePath)` back button started working!

[2019-02-09 23:52] jbasko commented on #998
After discovering this section of the docs: https://polaris.shopify.com/components/structure/app-provider#section-initializing-the-shopify-app-bridge I have replaced my programmatic creation of AppBridge with picking it up from `context.polaris`, and now almost everything works except clicking on the link that matches the name of the app. It works weirdly depending on where I am and most of the ti

[2019-02-10 11:19] jbasko commented on #998
Another observation with AppBridge TitleBar back/forward. All the link clicks described below do what I mentioned above: 1) AppBridge's `history.dispatch(History.Action.REPLACE, relativePath)` and 2) react router's `history.push(relativePath)`

1. You are on page A, URL says you're on page A
2. You click a link to B, URL gets updated to B, B gets loaded
3. You click browser's BACK button, URL gets

[2019-02-10 17:07] wshen001 commented on #542
I have encountered the same issue! Here is another example that can reproduce the issue.
https://codesandbox.io/s/qk4r323mw6

I basically change the `id` to `eid` to the payload of each item. The bulk action will behave incorrectly when you perform `select all` action.

[2019-02-10 17:28] pRoy24 commented on #333
Hitting the same issue, where I am authorizing user at backend and rendering app from backend endpoint.. problem is I am unable to redirect user from within the app to admin

[2019-02-10 17:44] wshen001 opened #999 "[ResourceList] Failed to hide Header, showHeader props not working"
# Issue summary

The props `showHeader` of `ResourceList` doesn't work. Even if I set `showHeader` to false it doesn't make any difference of the module.

Codesandbox: https://codesandbox.io/s/qk4r323mw6

[code]

## Expected behavior

The header wrapper of resourceList should be hidden.

## Actual behavior

The `promotedBulkActions` still display.

## Specifications

- Are you using the React comp

[2019-02-10 18:14] pRoy24 commented on #333
nvm Found the solution ..for anyone hitting the same issue, in order to navigate to an admin path you need to specify target: 'ADMIN_PATH' in the breadcrumb definition.

[2019-02-10 23:38] carlosforero commented on #906
I need this feature ASAP, especially for the `onAction` callback.

[2019-02-11 14:09] nathan-lapinski commented on #875
@dan-gamble Thanks for sharing that, it just solved my issue. I made the exact same mistake!

[2019-02-11 15:35] brambilliet opened #1001 "Color use against own principles - Polaris Guide"
<img width="262" alt="screenshot 2019-02-11 at 16 33 38" src="https://user-images.githubusercontent.com/17379429/52573662-e48d3e80-2e1a-11e9-9f93-045ebbdb332e.png">

Dark grey on Dark Indigo. Should be Light grey on Dark Indigo.

[2019-02-11 15:36] sarahill commented on #977
I don't know that this is possible or makes sense but could we do an `align-self: center;` on badges in this context?

[2019-02-11 15:43] sarahill commented on #986
@emarchak I agree with Devon. Option `2.` makes the most sense to me in this case.

[2019-02-11 16:35] cargix1 opened #1002 "Destructive variable not passing through to Modal button component"
# Issue summary
When using the App Bridge to control our Modals we pass through the destructive property on the primaryAction, but the button doesn't visually reflect a destructive button.

## Expected behavior

We would expect to see a button styled like this:

<img width="177" alt="screenshot 2019-02-11 at 16 29 30" src="https://user-images.githubusercontent.com/9730290/52577531-38e3ee80-2e1a-11

[2019-02-11 17:03] dpersing commented on #996
@ry5n and @sarahill, this issue appears to be closely aligned (pun intended) with #977.

[2019-02-11 17:13] chloerice commented on #1001
Hey @brambilliet thanks for raising this. Can you give us more details on where exactly you're seeing this? Is this one of the components or are you seeing that somewhere in the partner dashboard or merchant admin?

[2019-02-11 17:18] dpersing commented on #997
Hi @jim-chou-shopify! Is the loading component here meant to indicate that the whole page is updating, or just a section? If it's not the whole page, the [spinner component](https://polaris.shopify.com/components/feedback-indicators/spinner) might be a better choice (and doesn't require the use of the frame component). The [loading component](https://polaris.shopify.com/components/feedback-indicat

[2019-02-11 17:56] clauderic opened #1004 "Navigation rollup always collapses when section heading is clicked"
# Issue summary
The Navigation rollup always collapses `onClick`, and there is no way to prevent that from happening due to the fact that the state ownership to decide whether the rollup should be expanded or collapsed is nested within the `Navigation.Section` component (https://github.com/Shopify/polaris-react/blob/master/src/components/Navigation/components/Section/Section.tsx#L181-L183)

This i

[2019-02-11 17:57] mbaumbach commented on #947
Looking at the Shopify Partner Portal on an app's summary page, you can see a couple of areas where this comes up like the Earnings, Growth, and Uninstalls cards. Only in Chrome 72+, of course. :)

[2019-02-11 18:07] jim-chou-shopify commented on #997
Hi @dpersing,
I am aware of the current use case for `Loading` component.
We are wondering if it's possible to expose it for usage in individual component.
@supervee

[2019-02-11 18:10] supervee commented on #997
Our thinking was that using this would be more effective than a spinner because:
a) it's loading an external page in a frame, it will help reinforce that the contents are from the app developer
b) because loading can happen quite often and be unpredictable in length, if a spinner were to constantly pop in and out it would be very jarring.

[2019-02-11 18:42] dpersing commented on #997
Thanks for the extra context, @jim-chou-shopify and @supervee!

@ry5n Do you have thoughts on this?

[2019-02-11 19:19] dpersing commented on #1002
Hi @cargix1! You'll want to take a look at the documentation for actions via App Bridge instead of Polaris for your destructive style: https://help.shopify.com/en/api/embedded-apps/app-bridge/actions/button#button-style

[2019-02-11 19:19] #1002 closed

[2019-02-11 19:30] chloerice commented on #1004
This sounds like a great idea 👌

[2019-02-11 19:41] cargix1 commented on #1002
Thanks @dpersing!!! Not sure how I missed that :)

[2019-02-11 20:02] ry5n commented on #995
This is definitely something we should support.

There was some discussion offline about how to achieve this:

1. Add a dedicated prop for placing elements to the right of the tabs
2. Expose the tab strip and tab content container as separate components, the way we give you the option of using `Card.header` manually if you need more control over that part of a `Card`. You could import the tab stri

[2019-02-11 20:08] chloerice commented on #996
I'm not sure in this case that there's anything the component should do here. Since the header accepts a React node, I think it's up to the consumer to space the children they provide as they see fit, because the header can't anticipate what its children will be.

[2019-02-11 20:13] ry5n commented on #996
I’m kind of surprised that `Card.Header` takes a `title` prop at all, since I assumed it was an escape hatch for taking control of the header layout. I would have expected I’d need to include my own `Heading`, which would let me control its alignment with any actions. However, even if I don’t pass a `title`, `Card.Header` renders its markup anyway (A `Stack` with an empty `Heading`).

This is mayb

[2019-02-11 20:18] ry5n commented on #997
I don’t have strong feelings on this. I like the idea of emphasizing the content is from an external source, but I’m not sure the loading bar is enough for people to understand that.

@alyseadlard has done a lot of thinking about loading states, I wonder if she’d have some thoughts on the experience.

Making this available outside of the frame might take some doing. @tmlayton may have thoughts on

[2019-02-11 20:21] chloerice commented on #996
^ This

[2019-02-11 20:25] #889 closed

[2019-02-11 20:26] jim-chou-shopify commented on #997
@ry5n I agree that ux may need further discussions but I feel the engineering aspect is straightforward by exporting `Loading` component.

[2019-02-11 21:04] elizabethletourneau opened #1007 "Add a 12px (base * 3) spacing option to spacing-data in Sass map"
# Feature request summary

There have been a few occurrences where we have needed a rem(12px) padding or margin however it is not currently a listed option in `spacing-data` map in spacing.scss

## Rationale

This requires discussion if we should add a new option and if that's the case the naming of the variables will need to change:

![11-58-bskkl-75n92](https://user-images.githubusercontent.com/

[2019-02-11 21:07] elizabethletourneau commented on #1007
@kaelig @solonaarmstrong @ry5n CC'ing on this to discuss further.  This issue may be bigger than just adding a middle variable since the naming of it could cause confusion and if in that case all the variable names needed to shift we would need to change all the occurrences in all of polaris.

[2019-02-11 21:13] #954 closed

[2019-02-11 21:21] dpersing commented on #998
Hi @jbasko! Thanks so much for your comments, and working through the docs. I've reached out to our documentation team about clarifying the Polaris versions mentioned in the API docs, as well as started a conversation in the Polaris team about clarifying the role of the app provider component.

To answer your question about redirecting, the behavior you're looking for is currently a feature on the

[2019-02-11 21:43] solonaarmstrong commented on #1007
I'm pretty sure I also ran into a need for 12px in range slider dual input: https://github.com/Shopify/polaris-react/pull/987

It comes up now and then.

[2019-02-11 21:44] #998 closed

[2019-02-11 21:54] elizabethletourneau commented on #995
@ry5n I will take a look.

[2019-02-11 21:55] #888 closed

[2019-02-11 21:56] kvendrik opened #1008 "SearchField no longer aligned with page heading"
**Expected (3.6.0 release)**
![screen shot 2019-02-11 at 4 53 29 pm](https://user-images.githubusercontent.com/4029894/52596245-d7be1a00-2e1d-11e9-8526-fd7670cefcb7.png)

**Actual**
![screen shot 2019-02-11 at 4 54 45 pm](https://user-images.githubusercontent.com/4029894/52596252-dc82ce00-2e1d-11e9-8db8-b0533755563b.png)

Seems to have been caused by https://github.com/Shopify/polaris-react/commit

[2019-02-11 22:14] tmlayton opened #1014 "Add sassdoc comments for breakpoints"
We do not have sassdoc comments for breakpoints and it is something that gets a few searches a week (with no results) in the Polaris styleguide.

[2019-02-11 22:26] kvendrik commented on #896
Note: the fix seems to only work when on `http://localhost:6006/iframe.html?selectedKind=Playground&selectedStory=Playground` and not within the StoryBook UI. cc @ry5n

[2019-02-11 23:02] jbasko commented on #998
Thank you for taking the time to look into this and for revealing that it's in the roadmap.

Is there an App Bridge issue tracker? I have seen a few issues on this project dismissed as App Bridge issues.

[2019-02-12 04:58] alyseadlard commented on #997
Hey all, just a couple questions:

I'm not sure I understand the rationale here. Wouldn't use of `Loader` imply that it's core that's loading the content, not an app?

I might need some help understanding what `Frame` means in terms of UI. How is the content that's being loaded displayed? Is it the entire page? Is it just a modal? Is it just a section within the page?

[2019-02-12 05:08] jim-chou-shopify commented on #997
The use case is to show a loader for preview section when fetching app generated url that is used as iframe source.
The preview is part of a form page so we do not want the loading bar to show on top of the page.

[2019-02-12 05:16] alyseadlard commented on #997
Cool, can I get some screenshots? Not sure what "Preview section" means.

[2019-02-12 05:17] jim-chou-shopify commented on #997
It's under Rationale section of the issue.

[2019-02-12 05:18] alyseadlard commented on #997
Is this a card or is it a modal? Sorry, I need a bit more context.

[2019-02-12 05:20] jim-chou-shopify commented on #997
There is also a link to the PR for our [use case ](https://github.com/Shopify/web/pull/10467).

[2019-02-12 05:28] alyseadlard commented on #997
From a UX POV, `Loading` should only be used to indicate page level loads. Any in page loading should use either `Spinner` or skeleton loaders. It looks like this content is being loaded within the page, correct me if I'm wrong.

[2019-02-12 05:29] jim-chou-shopify commented on #997
Yes it's part of the page.

[2019-02-12 05:34] alyseadlard commented on #997
I'd suggest using `Spinner` or skeleton loading for your use case then.

[2019-02-12 10:59] sashahilton00 opened #1021 "Add showIndicator prop to TopBar.UserMenu"
# Feature request summary

Add a `showIndicator` prop to the TopBar.UserMenu component that displays the MessageIndicator component.

## Rationale

This allows one to display the messageIndicator if one so chooses independently of a message prop being specified. The reason for wanting this is that userMenuActions can specify a badge for new updates and such, which we would like to notify the user

[2019-02-12 10:59] sashahilton00 opened #1022 "Add showIndicator prop to TopBar.UserMenu"
# Feature request summary

Add a `showIndicator` prop to the TopBar.UserMenu component that displays the MessageIndicator component.

## Rationale

This allows one to display the messageIndicator if one so chooses independently of a message prop being specified. The reason for wanting this is that userMenuActions can specify a badge for new updates and such, which we would like to notify the user

[2019-02-12 10:59] sashahilton00 commented on #1022
Opened a duplicate issue for unknown reason. Closing in favour of original.

[2019-02-12 10:59] #1022 closed

[2019-02-12 14:42] supervee commented on #997
Skeleton loading would not be possible as the app (could be 1P or 3P) loads the page.
We considered spinner as an option but think it is the lesser experience because:
- preview reloads every time the user changes something on the form
- preview loading time can range anywhere from immediately to several seconds

We wanted to minimize the possibility of the spinner flashing in and out when the for

[2019-02-12 15:06] macdonaldr93 commented on #997
Just for some added information... Another reason the spinner can be a bit weird is that the preview refreshes based on the merchants interaction with the form. This isn't the best example because we've done some improvements around what event triggers the refresh, but there's a gif of typing with the spinner to refresh the preview:

![loading statae](https://user-images.githubusercontent.com/4441

[2019-02-12 15:29] dleroux commented on #953
PR created for this: https://github.com/Shopify/quilt/pull/515

[2019-02-12 16:27] #986 closed

[2019-02-12 16:49] ry5n commented on #1007
If we can come up with an acceptable name for this, I’d be OK with it.

[2019-02-12 16:55] solonaarmstrong commented on #1007
I thought about it a bit.

`base-tight` (with a fun musical connotation)
`less-tight`

?

(I'm actually surprised that these didn't follow the color naming convention. `tighter` instead of `extra-tight`, but I digress).

[2019-02-12 19:24] #1008 closed

[2019-02-12 20:07] #508 closed

[2019-02-12 20:07] #577 closed

[2019-02-12 20:07] #578 closed

[2019-02-12 20:07] #579 closed

[2019-02-12 20:18] #436 closed

[2019-02-12 20:33] solonaarmstrong commented on #348
Cleaning up issues. I'm not sure this is actually a bug. The alignment is set to `fill`, which uses `align-items: stretch`, which stretches items to fills the container, but **still respects min-width/max-width**. I don't think the intention would be to stretch a button's height and distort it.

The text field is being treated as one item within the stack, including its label, so it would take som

[2019-02-12 20:33] #348 closed

[2019-02-12 20:43] alyseadlard commented on #997
Gotcha, thanks for the clarity @supervee @macdonaldr93! I see what you mean about both skeleton being too unpredictable and spinner being too disruptive. If it's not too much work (@tmlayton would know), let's make `Loader` available outside of the frame. This is a pretty unusual case though, so if we do this we should provide clearer documentation about do's and don'ts so that it doesn't get misu

[2019-02-12 20:59] jim-chou-shopify commented on #997
FYI, we are trying to expose [Frame/components/Loading](https://github.com/Shopify/polaris-react/tree/master/src/components/Frame/components/Loading) component to be used outside of `Frame`.

[2019-02-12 22:29] #890 closed

[2019-02-13 05:28] juliantrueflynn opened #1028 "Breadcrumb title bar does not utilize AppProvider linkComponent prop"
# Issue summary

Title bar link does not use `linkComponent` from `AppProvider` prop. If this is expected behavior please let me know so I can put this as a request.

This ticket might be related to [this one](https://github.com/Shopify/polaris-react/issues/952).

![title bar](https://user-images.githubusercontent.com/2691129/52688206-6ff1f700-2f23-11e9-86cd-e5338a41b259.png)
*Picture of which tit

[2019-02-13 11:28] jbasko commented on #1028
https://github.com/Shopify/polaris-react/issues/998

[2019-02-13 11:34] jbasko opened #1030 "Polaris documentation does not list sub-component properties"
Polaris documentation has a lot of goodies, but they remain hidden for those who assume that the documentation without examples would list all the options. Some things are only discovered only if you start to click through the example dropdowns.

For example, `Layout.Section` and `Layout.AnnotatedSection` -- is there a way to list all their properties without going to https://github.com/Shopify/po

[2019-02-13 12:25] jbasko opened #1031 "[Card] actions not displayed if the card doesn't have a title or it's empty"
# Issue summary

Perhaps `title` is mandatory for `Card` (documentation doesn't say so), but if you don't specify it or you leave it empty, the card actions don't show up in the top right corner of the card.

## Expected behavior

I would expect them to show up anyway or have an error on empty title.

## Steps to reproduce the problem

    <Card
        sectioned
        title=""
        actions={

[2019-02-13 12:44] danrosenthal commented on #1031
@jbasko thanks! You've definitely found a bug. Looking at this line: https://github.com/Shopify/polaris-react/blob/master/src/components/Card/Card.tsx#L52, the condition should look for `title || actions`, not just `title` to render the `Header` component. Would you be willing to put up a pull request fixing this? We'd certainly appreciate it

[2019-02-13 12:53] danrosenthal commented on #408
This should now be closed as of https://github.com/Shopify/polaris-react/pull/951

[2019-02-13 12:53] #408 closed

[2019-02-13 12:56] danrosenthal commented on #548
Since the `UserMenu` is no longer part of `Navigation`, this should be closed

[2019-02-13 12:56] #548 closed

[2019-02-13 12:57] danrosenthal commented on #567
The `TopBar` no longer has a divider, so this can be closed

[2019-02-13 12:57] #567 closed

[2019-02-13 13:03] danrosenthal commented on #1028
It definitely looks like the `Breadcrumb` component, which is rendered inside the `Page` `Header` component should be using the `Link` provided through `AppProvider`. I haven't looked deeply into the issue, but this may also be the root cause of #998, as @jbasko has pointed out

[2019-02-13 13:06] danrosenthal commented on #998
This seems related to the fact that the embedded title bar does not use the `Link` component that is provided through the `AppProvider` component. That could be the cause of these clicks causing a full page reload with `ReactRouter`. I'm pinging @Shopify/app-bridge on this, as that is something that would need to be fixed in the Shopify admin

cc: @gf3

[2019-02-13 13:53] jbasko commented on #998
I'm quite a beginner to all this, but I would be surprised if `linkComponent` actually applied to the title because that would mean I as an app developer would be able to inject something in the main window running on Shopify domain. I think it has to be something via App Bridge actions instead.

[2019-02-13 14:42] jbasko commented on #1031
Thanks. I just did exactly the one liner you suggested (PR linked above). I'm afraid I don't know how to efficiently test it as I'm not up to speed with JS in the last 4-5 years.

[2019-02-13 15:10] juliantrueflynn commented on #1028
My bad, I read through tickets but I guess I missed theirs. This ticket can be closed.

[2019-02-13 15:37] danrosenthal commented on #1028
Sorry if I wasn't clear. This **does** appear to be an issue, I was only suggesting it might be related to #998. Going to reopen until this issue is resolved

[2019-02-13 15:40] danrosenthal commented on #1031
Seeing this comment now, after addressing #1032. I'm happy to add the test if you'd like.

[2019-02-13 15:42] iainmcampbell commented on #998
Hi @danrosenthal @jbasko! We’ve been looking into this issue and I think we’re close to a solution. The problem is that changing the URL of an iframe from outside of the iframe (ie via the breadcrumb menu) always causes the frame to reload. We’re developing a mechanism to avoid that hard reload. Unfortunately there isn’t a public App Bridge issue tracker, so we’ll update you here when it’s release

[2019-02-13 17:29] #1031 closed

[2019-02-13 18:40] chloerice commented on #1030
Hi @jbasko, thanks for raising this. So far, we've only gotten the [`Stack.Item`](https://polaris.shopify.com/components/structure/stack#section-stack-item) and `ResourceList.Item` documented outside of examples. I'll make an issue that outlines all the subcomponents with public APIs so that folks can start tackling the rest 😃

[2019-02-13 18:56] #958 closed

[2019-02-13 20:41] ry5n commented on #1007
What do we gain by adding this?

[2019-02-13 21:19] solonaarmstrong commented on #1007
Consistency, ease. But it's not the end of the world to use `rem(12px)`.

[2019-02-13 21:21] ry5n commented on #1007
I’m OK with `base-tight`

[2019-02-13 21:22] ry5n commented on #1007
We’ll need to also update the [spacing page on the style guide](https://polaris.shopify.com/design/spacing#spacing-in-code).

[2019-02-13 22:08] chloerice opened #1035 "[Documentation] Improve documentation of public subcomponents"
As highlighted in #1030, outside of the examples we provide, most subcomponents that are technically part of the public API are not documented. Exceptions are `Stack.Item`,`ResourceList.Item`, `ResourceList.FilterControl`, `Topbar.Menu`, and `TopBar.SearchField`.

Subcomponents that should be documented:
- [ ] `Autocomplete.TextField` and `Autocomplete.ComboBox`
- [ ] `Dropzone.FileUpload` **
- [

[2019-02-13 23:27] stephengardner commented on #259
A year later, this is probably still quite relevant and worth revisiting, despite being relatively easy to construct in one's own custom component structure.  +1.

[2019-02-14 00:41] markdavies commented on #760
@mfurniss I had the same issue when I was upgrading too.

Not sure if you're using [shopify_app](https://github.com/Shopify/shopify_app), but @shop_session used to need a protocol prepended to it, but now it doesn't.

Anyway, check your shop origin is what I'm saying - that fixed it for me.

[2019-02-14 12:57] jbasko opened #1038 "[Stack] wraps items when it shouldn't"
Maybe I'm using `Stack` when it's not meant to be used, but I believe this falls under the category of "small-scale layout tasks".

I want to replicate the layout I see in the Partners dashboard, under Resources, Get Started which is a basically a flex box of two items: a paragraph of text potentially broken down in lines and a button on the right that applies to the whole paragraph. Here's a plai

[2019-02-14 14:56] paulcanning commented on #331
Still no news on this, after 8 months?

[2019-02-14 17:21] chloerice commented on #1038
Hey @jbasko, thanks for raising this. When I add `wrap={false}` to the `Stack` with much wider text, the layout mirrors the one you see in the available tools card you mentioned. The same doesn't work as expected in the card that is in a regular width layout section, as there's a bug in the version 72 of Chrome that pushes children out of flex containers (see #1024).

https://codesandbox.io/s/0qxw

[2019-02-14 17:49] jbasko commented on #1038
Thanks @chloerice for looking into this and for providing a working example!

So, it's not an issue with `Stack`, just not the right markup by me. The example you gave in codesandbox works on my Chrome 72.0.3626.109 with both the primary width layout section as well as full width layout section or I misunderstood you.

[2019-02-14 17:50] allyshiasewdat opened #1039 "Request for avatar-shaped Skeleton"
# Feature request summary

Per a Slack conversation in #polaris-react, it would be nice to have a loading indicator use case like this:
![avatar_skeleton](https://user-images.githubusercontent.com/2372986/52806326-b5fba780-3056-11e9-9c49-063f84f71b63.png)

where a line item in an Order is being loaded in the background.

The suggestion from the channel was to raise a feature request for an avatar-

[2019-02-14 17:50] allyshiasewdat commented on #1039
cc @chloerice

[2019-02-14 17:54] chloerice commented on #1038
Oh great!! I think I may need to update my browser 😅

[2019-02-14 18:04] chloerice commented on #1038
I see, I'd forgotten to place the `p` in a `Stack.Item` with the `fill` prop set and remove the `TextContainer`* (which I also forgot to mention I'd done in my reply to you!).

*Since that component just puts margin between text, so since there was only one text element it's not needed.

[2019-02-14 18:05] #1038 closed

[2019-02-14 23:42] BPScott commented on #1007
If we're going all in on this, then we should update polaris-tokens to include `base-tight` too

[2019-02-15 07:16] inomn opened #1046 "TextField SSR: Warning: Prop `id` did not match."
Looks like SSR doesn't work for me.
There is minimalistic layout:

[code]

I'm getting error:

If i remove label props, then error is about TextField id.
If i remove TextField at all, there is no errors (so Card, Button works fine).

## Expected behavior
SSR works fine

## Actual behavior

## Steps to reproduce the problem

1. You can use SSR-boilerplate from kriasoft: https://github.com/kriasoft/

[2019-02-15 14:14] stoleruedgar commented on #826
@solonaarmstrong Actually wshen001 is right about 769px. When using the Navigation component the subNavigationItems are not displayed because of breakpoints.ts -> navigationBarCollapsed(). There is no mentioning of this in the documentation and there is no fallback when window is > 769px.

This ticket should be reopened.

Easy test is to go the Shopify React Components showcase Navigation or Frame

[2019-02-15 15:28] solonaarmstrong commented on #1007
Add to Polaris tokens: https://github.com/Shopify/polaris-tokens/pull/48
Import token in spacing function: coming soon
Use new value: https://github.com/Shopify/polaris-react/pull/1044

[2019-02-15 15:57] #1007 closed

[2019-02-15 16:32] alexandcote opened #1048 "[TextField] Content disappear on focus"
# Issue summary
We have a weird issue on Chrome when we use `TextField` inside a `Collapsible` which is in a scrollable element like `Scrollable`. When you focus a fully hidden `TextField` (You need to scroll to see the `TextField`) the text disappear. In fact, the `Backdrop` become above the input. I created a [CodeSandbox](https://codesandbox.io/s/wz6qj5m98) to demonstrate the bug.

## Expected

[2019-02-15 18:11] solonaarmstrong opened #1049 "[Scrollable] Cuts off focus border of elements within it"
# Issue summary

Text field in a scrollable slightly cuts off the focus border. I haven't tried other input types.

## Expected behavior

![screen shot 2019-02-15 at 9 57 41 am](https://user-images.githubusercontent.com/6239480/52875063-3c23f680-3108-11e9-881c-cef2f8349683.jpg)

## Actual behavior

![screen shot 2019-02-15 at 9 57 35 am](https://user-images.githubusercontent.com/6239480/52875061-3

[2019-02-15 19:48] dpersing opened #1050 "[a11y] Component accessibility documentation"
Want to add a quick PR to help improve our documentation? Want to support accessibility work in Polaris? Do I have the project for you.

[Check out the project history](https://unicorn.shopify.io/projects/6177) for more details.

[See all of the drafts including content for guides and patterns](https://docs.google.com/document/d/1ONoa4fUsqG19i5h0h2Kz2w9CvmFSN926YmoNVMsGPgw/edit#heading=h.ypa7651v6

[2019-02-15 21:05] #530 closed

[2019-02-15 21:39] lemonmade opened #1052 "[ContextualSaveBar] Discard does not close the modal"
# Issue summary

When you click the discard button in the "save confirmation" modal rendered by `ContextualSaveBar`, it [does not close the modal](https://github.com/Shopify/polaris-react/blob/master/src/components/Frame/components/ContextualSaveBar/ContextualSaveBar.tsx#L59). In Web, this is I guess generally OK because the action for discarding either navigates or un-dirties the form, hiding the

[2019-02-19 15:54] solonaarmstrong opened #1055 "[Toast] Use Enum for duration"
# Feature request summary

@mateus had the idea to use an enum for the duration prop.

[code]

`duration?: ToastDuration | number`

## Rationale

Web reuses the same values: `duration={3000}` or `duration={5000}`. This would also work well with the action prop, when using at least 10,000ms.

---

🌟 Feature requests that are not yet planned will be closed. We then use the issue’s [:+1: upvotes](htt

[2019-02-19 15:58] solonaarmstrong commented on #1055
@dleroux @ry5n Do you have any thoughts?

[2019-02-19 17:29] whitetig3r commented on #910
Is this issue up for grabs? I would like to work on it.

[2019-02-19 17:31] #1039 closed

[2019-02-19 18:23] ry5n commented on #1055
Is this a global set of values, or just for Toast?

[2019-02-19 18:26] solonaarmstrong commented on #1055
@ry5n Just for Toast.

[2019-02-19 18:35] solonaarmstrong commented on #1049
https://github.com/Shopify/polaris-react/pull/1047#pullrequestreview-205348897

re: the `Scrollable` cutting off the focus border--It's because the `Scrollable` is nested in a `Card` with `sectioned` set to true, which auto-wraps children in a `Card.Section` and adds padding around the `Scrollable` (and puts the scrollbar in a funky place). When the `sectioned` prop on the `Card` is removed and th

[2019-02-19 18:36] #1049 closed

[2019-02-19 19:31] chloerice commented on #456
The fix shipped in #1005 will be available in the 3.7.2 release.

[2019-02-19 19:31] #456 closed

[2019-02-19 21:03] siddhantbajaj opened #1058 "Orientation issue in collection image preview"
# Issue summary

Collection image preview sometimes show wrong orientation. However on reloading, image with correct orientation is displayed.

Related: https://github.com/Shopify/core/issues/4031

## Expected behavior

Collection image preview should always image in correct orientation.

## Possible cause

Some digital camera photos are often saved as JPEG with an EXIF "orientation" tag, which de

[2019-02-19 21:48] #1048 closed

[2019-02-19 22:05] ry5n commented on #1055
If it’s just for toast this could be helpful! I think it’s smart to add only the values we know are common though.

[2019-02-19 22:08] elizabethletourneau commented on #910
@whitetig3r please go ahead!

[2019-02-19 22:19] ry5n commented on #818
We should implement this in order to fix https://github.com/Shopify/polaris-ux/issues/237

[2019-02-19 23:09] chloerice commented on #882
Fix shipped by @tmlayton in #1029 will be available in the v3.7.2 release 🎉

[2019-02-19 23:09] #882 closed

[2019-02-20 00:26] dleroux commented on #1055
Thats works. The current default is 3000 I believe so we might want to leave it as that. It might also help to provide a bit of guidance on the possible usage of each value so that there’s a bit of consistency?

[2019-02-20 00:50] solonaarmstrong commented on #1055
The default is 5000, but web uses 3000 in some places, so that value should be available. Yes, it would make sense to add a guidance around the values, too.

[2019-02-20 02:15] solonaarmstrong commented on #1055
https://github.com/Shopify/polaris-react/pull/1059

[2019-02-20 02:31] amrocha opened #1061 "Remove support for custom Shopify SVG format"
Shopify imports SVGs with the following format:

[code]

We've asked around and it seems nobody is aware of a reason why it needs to be this way, and we can switch to a more standard format.

We can't just remove it though, because sewing-kit uses this format in its SVG loader, so that would be a very disruptive change to the rest of Shopify.

The proposed order of steps to remove this is:
 - [x]

[2019-02-20 05:12] tabrez96 opened #1062 "Polaris styles CSS Topbar components CSS missing"
# Issue summary

We are using polaris-react version 3.5.0 and we are using CSS from the provided CDN link :
https://sdks.shopifycdn.com/polaris/3.5.0/polaris.min.css. In this case, the topbar components like user menu and searchField has broken CSS and I just figured out that the CSS for `Polaris-TopBar__SearchField`, `Polaris-UserMenu-UserMenu` class and few other classes are missing.

## Expecte

[2019-02-20 06:49] sdn90 commented on #946
I've noticed the same issue for any App Bridge component with actions.

From what I've found looking through the files from the app-bridge package, it seems like the `loading` option isn't implemented for buttons.

Can someone shed some light on whether this is supposed to be working or if its planned for the future?

[2019-02-20 14:54] AndrewMusgrave commented on #1055
`slowest: 15000` seems extremely long to me, do we have any use cases for this? Maybe we should use `3000, 5000 , 7000, 9000`? How do we feel about using `base` as a value? We use it a lot in our sass functions as a default but we don't normally use it as a value e.g `spacing()` rather than `spacing(base)`.

[2019-02-20 15:03] AndrewMusgrave commented on #1062
Hi @tabrez96 I'm not sure why the styles are missing in that release, however they appear to be present in `3.6.0.0`. Are you able to upgrade?

[2019-02-20 15:22] solonaarmstrong commented on #1055
@AndrewMusgrave the recommended duration for a toast message with an action is at least 10000ms, to give merchants a chance to take the action, so that value should be in there. https://github.com/Shopify/polaris-react/pull/919/files#diff-f6f39e05b67f0498645df16bf2a7c4eaR128

I don't have strong feelings about 15000. I put it in there simply because our docs say **at least** 10000, which implies l

[2019-02-20 16:09] chloerice commented on #1058
Before saving, the `Dropzone.FileUpload` presents files and images with an `img` sized according to the `Dropzone.size`. There may be some performance drawbacks, but we could extract orientation from image blob's exif data. @siddhantbajaj how is orientation handled for the image displayed after upload? I'm guessing imagemagick handles that?

[2019-02-20 16:44] alex-page opened #1066 "Open styleguide PR fails when latest version is not ready on npm"
# Issue summary

We just did a deploy for version `3.8.0`. Everything went smoothly until the creation of the branch in `polaris-styleguide`.

This failed as the `npm publish` script had completed however the npm registry had not updated the version. This meant that when running `npx yarn upgrade @shopify/polaris@3.8.0` it failed as it could not find the version. Testing the version now locally th

[2019-02-20 16:54] kaelig commented on #1066
This is a known issue, and we decided not to fix it – see https://github.com/Shopify/polaris-react/issues/917

We may want to tell people what to do when this fails, though.

[2019-02-20 17:45] siddhantbajaj commented on #1058
I have a PR for it and can use some feedback there. - https://github.com/Shopify/web/pull/10811

Right now to create a preview link of the image we use `URL.createObjectURL(image)` but that ignores exif orientation attribute so we sometimes get wrong orientation. After hitting save, the image is uploaded in the storage (with correct orientation) and we use storage link to display the image correct

[2019-02-20 17:48] alex-page commented on #1066
I will add a log on fail of branch creation with the following:

[code]

[2019-02-20 17:52] amrocha opened #1067 "Add step that automatically opens a PR in web upon a successful deploy"
We already do this for the styleguide, let's just do it for web as well.
We should look into #1066 at the same time

[2019-02-20 18:10] siddhantbajaj commented on #1058
Agreed not exactly a polaris issue but something to be fixed in web. Closing it.

[2019-02-20 18:10] #1058 closed

[2019-02-20 18:12] amrocha commented on #1066
This has happened twice, and it seems like both times it was because the new version didn't propagate to NPM fast enough. I think we should add a simple retry + backoff to the requests in the PR script, to see if we can't fix these issues.

The script that handles opening the PR in the styleguide is `open-styleguide-pr.js`. Right now we're not retrying any requests, and not handling errors. This m

[2019-02-20 18:15] amrocha commented on #1067
Proposed approach:
 - Fix #1066 with my proposed solution
 - Generalize the script to take the name of a repo e.g.: `shopify/polaris-styleguide` instead of hardcoding it to the styleguide
 - Add a command running it in web to the `postpublish` script in the `package.json`

[2019-02-20 18:59] ismail-syed opened #1068 "Banner with long sentences inside Stack breaks margin"
# Issue summary

Experienced some margin issues when you use a somewhat long `Banner` sentence contained in a Stack. I was able to reproduce this in a Modal, not sure if it happens using other parent components.

https://codesandbox.io/s/2vp7zop13j:

<img width="636" alt="screen shot 2019-02-20 at 1 55 22 pm" src="https://user-images.githubusercontent.com/6130700/53116728-551d1500-3517-11e9-8e9a-2

[2019-02-20 19:13] AndrewMusgrave commented on #1068
Is this possibly related too https://github.com/Shopify/polaris-react/issues/947?

[2019-02-20 19:20] dleroux commented on #1068
Quite possibly another Chrome 72 flexbox issue.

[2019-02-20 23:01] ptcampbell opened #1072 "Embedded component border (admin nav UI bug)"
The admin nav has lost its right border which has the undesired effect of the horizontal rule ending in no man's land. It looks fine in the rest of the admin (pages, products etc.) but for embedded apps, due to the styling of the toolbar, it feels less seamless and polished than it was before:

<img width="224" alt="screen shot 2019-02-19 at 8 21 14 pm" src="https://user-images.githubusercontent.c

[2019-02-20 23:21] CameronGorrie commented on #462
Looks like the wrapping is fixed in 3.8. Is this the expected alignment though?

<img width="545" alt="screen shot 2019-02-20 at 6 08 59 pm" src="https://user-images.githubusercontent.com/3865674/53131908-1e0d2a80-353c-11e9-88be-84f62fd51e83.png">

I was expecting the illustration to be centered but perhaps this is intentional.

[2019-02-21 01:59] ry5n commented on #947
This is being investigated in PR #1024. It’s related to changes in Chrome, we’re working to determine the best way to address it.

[2019-02-21 02:00] ry5n commented on #1068
Closing as duplicate of #947, related to changes in Chrome 72. Further discussion in PR #1024

[2019-02-21 02:00] #1068 closed

[2019-02-21 03:19] tmlayton opened #1077 "[Tag] Corners not rounded for button states"
Corners are not rounded:

![image](https://user-images.githubusercontent.com/344839/53141280-5add1f80-3544-11e9-889b-2cc837f60a50.png)

[2019-02-21 05:46] seandogg opened #1079 "Update broken link in docs"
On this [page](https://help.shopify.com/en/api/tutorials/build-a-shopify-app-with-node-and-react/build-your-user-interface-with-polaris), find the sentence: `Your app will use a library called Shopify App Bridge to communicate with Shopify.` The link is 404, whereas I found this: https://help.shopify.com/en/api/embedded-apps/app-bridge

Cheers

[2019-02-21 08:45] adipasquale commented on #331
up 👍 navigation is really tricky with Embedded Apps

[2019-02-21 18:03] #985 closed

[2019-02-21 18:44] AndrewMusgrave commented on #1079
cc/ @markiiikram Is this owned by your team?

[2019-02-21 18:57] markiiikram commented on #1079
Thanks @AndrewMusgrave. Will fix. Thank you!

cc: @katiedavis

[2019-02-21 19:59] theodoretan opened #1083 "[TextField] Can't pass a ref to TextField component"
### Background

We have a use case where we have two TextFields and their heights are being matched. The current way we're accomplishing this is by using a ref to get the height of the TextFields from the `DummyInput` and passing back the larger of the two.

### Problem

With the `3.6.0` version, TextField is now being wrapped with `withAppProvider` meaning that the ref is no longer being set on t

[2019-02-21 21:24] BPScott commented on #519
Following an update to eslint-plugin-react in https://github.com/yannickcr/eslint-plugin-react/pull/2069 componentWillMount, componentWillReceiveProps and componentWillUpdate will not trigger a react/no-deprecated warning as they are considered legacy componenets but they're not officially deprecated just yet.

We should still move away from them.

[2019-02-21 21:28] danrosenthal commented on #1083
Is there any reason that wrapping the input in a `div`, placing the `ref` on that `div`, and getting the height from that would not work?

[2019-02-21 21:52] AndrewMusgrave commented on #1083
`clientHeight` doesn't include margin or border so that may be a viable option.

If you can't use Dan's suggestion I'm in favour of option one. It's the "react" way of doing things and using a ref only isn't an option anymore because of "wrapper hell"

[2019-02-22 14:10] theodoretan commented on #1083
Thanks, placing the `ref` of the `div` works 👍

[2019-02-22 14:10] #1083 closed

[2019-02-22 19:00] alekmackie commented on #965
<img width="740" alt="screen shot 2019-02-22 at 10 29 41 am" src="https://user-images.githubusercontent.com/5382363/53264268-0d6dc900-3690-11e9-8a02-23c1ebf6aa95.png">

SVG of this illustration attached:

[list-filters-callout.svg.zip](https://github.com/Shopify/polaris-react/files/2895235/list-filters-callout.svg.zip)

Sara, Selene and I worked through some opinions on this.  We determined:
- The

[2019-02-22 20:42] #896 closed

[2019-02-22 20:44] kvendrik opened #1088 "Document how to properly test on mobile"
Testing on mobile requires you to use the StoryBook frame instead of the app itself. That way the viewport appears in the right scale.

`localhost:6006/iframe.html?selectedKind=Playground&selectedStory=Playground`

Follow-up from: https://github.com/Shopify/polaris-react/pull/1026

[2019-02-22 20:54] adamcarchibald opened #1089 "[Autocomplete][v1] ComboBox uses tabindex=0 which causes tabbing issues with AutoComplete"
# Issue summary
ComboBox in AutoComplete has `tabindex=0` which causes the wrapping ComboBox to be highlighted when tabbing into the AutoComplete component.

https://github.com/Shopify/polaris-react/blob/master/src/components/Autocomplete/components/ComboBox/ComboBox.tsx#L266

## Behavior
Tabbing into AutoComplete should allow text input without having to press tab a second time.

[Video with tabi

[2019-02-22 21:29] tleunen opened #1090 "[Tabs] Tabs gets inaccessible when the first tab name is longer than its container size"
# Issue summary

Long tab name, in a fitted mode or node, don't render well. Only the first tab is visible and it's impossible to access and click the other tabs.

## Expected behavior

The tab name should probably use an `ellipsis` to show the name has been cut off while showing all other tabs (or at least the special `...` dropdown).

In a fitted mode, because of its narrow space, having a way t

[2019-02-23 16:00] cgenevier commented on #393
@solonaarmstrong Was the loading spinner over the empty state ever added? Thanks!

[2019-02-23 17:53] JWeis commented on #244
This would be great to see. I am working on an app now where I tried utilizing react-rails with Polaris and shopify_app gem. It worked well but I eventually started over building with Polaris html, Stimulus, and leveraging Turbolinks. So far in dev the app flys and is fun to work on. I am far enough along where I think I will extract the things built with Into a Polaris-rails starter or maybe a ge

[2019-02-23 19:42] CommerceOwl commented on #1046
I'm also seeing this.

[2019-02-24 22:09] #404 closed

[2019-02-24 22:09] #403 closed

[2019-02-25 14:24] kouloughli-hemza commented on #78
'useLinkComponent' was not found in '@shopify/polaris'  is there any alternative to be able to work as SPA ?

[2019-02-25 16:31] sashahilton00 opened #1091 "<Link> onClick firing on page load"
# Issue summary

When specifying an onClick handler to the Link component, the handler fires on page load.

## Expected behavior

Handler only fires when component is clicked.

## Actual behavior

Handler fires on page load.

## Steps to reproduce the problem

1. See text case below. We are using react-saga, hence relevant action is wrapped in `mapDispatchToProps`

## Reduced test case

[code]

##

[2019-02-25 16:41] AndrewMusgrave commented on #1091
Hi @sashahilton00 , are you providing `AppProvider` with a custom `linkComponent`?

[2019-02-25 19:19] #1079 closed

[2019-02-25 19:50] markiiikram commented on #1079
Thanks for reporting this bug @seandogg. It should now be fixed. 👍

[2019-02-25 20:23] dpersing commented on #797
There is not currently an ARIA authoring pattern for datepickers specifically, but it's in discussion: https://github.com/w3c/aria-practices/issues/34

[2019-02-25 23:18] dpersing commented on #1090
I've removed the accessibility-related labels since this issue affects all users by making the controls unavailable.

[2019-02-26 07:27] AndreyYeryomin opened #1093 "Issue with embedded app"
# Issue summary

When i try execute  example from https://polaris.shopify.com/components/structure/page for embedded app. My code in this [link:](https://files.fm/u/rxvdzzec)

apiKey and shopOrigin is correct. I get this ![screenshot 12](https://user-images.githubusercontent.com/18416551/53394887-369c9b00-39a9-11e9-8dfa-6f12e3ede277.png)
If i downgrade polaris to 2.12.1 - all is ok.

## Specificat

[2019-02-26 15:20] sashahilton00 commented on #1091
Nope, here's the code we're using to initialise things:

[code]
where the `{store}` is just the bog standard returned value from redux `createStore`

[2019-02-26 17:14] sarahill opened #1095 "Orders list layout: sort placement"
Related to -> [Polaris list filters GH issue](https://github.com/Shopify/web/pull/9901)

## Problem

The Orders list today uses column headers. This page has recently been updated to react but does still have the column headers and, as a result, the sort placement has been moved to be inline with filter and search.

With the introduction of shortcut filters and the new placement of the `Save` butt

[2019-02-26 18:18] sarahill commented on #1095
I chatted a little with @AdamWhitcroft about the sort layout in Slack. I want to move the conversation here so everyone can weigh in.

### Some relevant parts of our convo below:

**Adam Whitcroft**
- I worry about the number of controls at the top of the one with the `Sort` button
- that’s pretty hectic
- those table headers… would it not make more sense to just use clicking those for sorting?
-

[2019-02-26 19:24] hgezim opened #1098 "DropZone.FileUpload errors using TypeScript"
# Issue summary
When using TypeScript, component `DropZone.FileUpload` requires properties `polaris`, and `contex`.

The example specified in [Drop zone docs](https://polaris.shopify.com/components/actions/drop-zone), shows this error in TypeScript:

## Expected behavior
No error should be shown when `DropZone.FileUpload` is used with no properties.

## Actual behavior
This error is shown:

## Ste

[2019-02-27 00:27] sarahill opened #1100 "[List filters] Save interaction"
@sarahill @tmlayton @ry5n

Gow through the following flows:
- [x] save new filter set
- [x] remove existing filter set
- [x] rename existing filter set
- [ ] `All` tab (consider the disabled `save`)

[2019-02-27 00:48] #1077 closed

[2019-02-27 01:47] sarahill commented on #1100
@VanjaMitrovic @sadiesaurus and I paired on the saved filter interaction. @StephPoce helped guide us and gave us context on previous explorations.

---

## Proposed direction

![image](https://user-images.githubusercontent.com/8629173/53456509-b7d14d80-39fc-11e9-850b-7cce705b1a2a.png)

In the last UX critique, Kyle brought up questions about the save, rename, and remove interactions for saved filt

[2019-02-27 03:32] Kcin1993 commented on #739
Any idea about this issue?

I start this tutorial Build a [Shopify app with Node and React](https://help.shopify.com/en/api/tutorials/build-a-shopify-app-with-node-and-react). Meet the same issue

[2019-02-27 04:52] Kcin1993 commented on #739
Apologize for my above commented.

If someone follow this [Shopify app with Node and React](https://help.shopify.com/en/api/tutorials/build-a-shopify-app-with-node-and-react).

In the chapter [Build your user interface with Polaris](https://help.shopify.com/en/api/tutorials/build-a-shopify-app-with-node-and-react/build-your-user-interface-with-polaris) mentions that

[code]

The props in <AppProvi

[2019-02-27 17:20] joshbedo opened #1102 "<Button /> giving errors on `url` prop"
Trying to create a basic <Button /> element and added the prop `url='/campaigns/22'` but for some reason i'm seeing an error about a missing `to` property?

[code]

Polaris v2.7.0

[2019-02-27 17:40] AndrewMusgrave commented on #1102
Hi @joshbedo , we don't define prop types for our components or have a `to` prop. Is it possible your using a custom `linkComponent` and this error is coming from `react-router`?

[2019-02-27 17:47] AndrewMusgrave commented on #1098
Hi @hgezim . Polaris is currently on ts `v3.1.6`, we have a few issue to address before updating.

[2019-02-27 18:05] AndrewMusgrave commented on #1091
I can't reproduce this or see anything that would cause this bug, we're passing the handler straight to the dom element. Do you have an example that reproduces this?

[2019-02-27 21:04] sarahill commented on #1100
After chatting with Tim, Ryan, and Vanja we decided to move the tags onto their own line.

*Design rationale*
The `x` next to the tags felt like a trigger to remove the tags themselves.

![image](https://user-images.githubusercontent.com/8629173/53522616-c83f0200-3aa8-11e9-9b8d-5874e0a8b103.png)

[2019-02-27 22:34] sashahilton00 commented on #1091
Sure, here's an abbreviated version of the problematic component:

[code]
the problematic line is the `<Link>` one in the above example. If it is changed to the below, it works fine:
[code]

[2019-02-27 22:56] iainmcampbell opened #1104 "Provide an internal reference to Polaris version that is compile-safe"
# Issue summary

https://github.com/Shopify/polaris-react/pull/1033 introduced a reference to `window.Polaris.VERSION`, which can be undefined when Polaris is build in production mode using sewing-kit.

## Fix

Export Polaris version from `src/config.ts` and use that internally instead.

[2019-02-27 23:21] ry5n commented on #1093
Thanks for filing the issue @AndreyYeryomin. Any chance you could include your JS code directly in the issue? Thanks

[2019-02-27 23:34] ry5n commented on #1090
This needs some design exploration to determine how to treat it. Long tab names should be avoided in favor of clear language, but long tab names shouldn’t break as they do now.

- Should each tab have max-width, or do we let them them overflow into menu?
- Should content in the tabs wrap? (2 lines should be the maximum, but this is hard to build on the web)

I can rule out stacked tabs—in this con

[2019-02-27 23:36] ry5n commented on #1089
@dpersing Any chance you could take a look?

[2019-02-27 23:41] ry5n commented on #1072
We’re working on some options to address this. Shouldn’t be too long.

[2019-02-27 23:53] dpersing commented on #1089
@ry5n It looks like I mentioned the `tabindex` in the original PR review in the old repo (https://github.com/Shopify/polaris-react-deprecated/pull/1902#pullrequestreview-145488628), but that item didn't make it into the summary accessibility issue that I moved over to this repo (#789).

Agreed that the extra `tabindex="0"` is unnecessary and probably confusing. Additional work is needed, but remov

[2019-02-28 00:08] ry5n commented on #1089
@adamcarchibald If you’re interested it sounds like a straightforward fix, feel free to open a PR. Otherwise we’ll get to it as soon as possible.

[2019-02-28 06:39] tmlayton commented on #980
I’m confused about the lodash decorators piece because each of our JS utils is just importing the lodash decorator under the hood:  https://github.com/Shopify/javascript-utilities/blob/master/src/decorators/debounce.ts#L1

[2019-02-28 06:40] tmlayton commented on #980
I wrote these and IIRC have parity with lodash and are faster https://github.com/Shopify/polaris-rails/blob/master/admin/lib/utilities.js

[2019-02-28 15:13] danrosenthal opened #1106 "[List filters] Allow each accordion section to open up independently"
- [ ] update `filterOpen` state to take an array of strings
- [ ] update click handler to add or remove key from array of strings
- [ ] update tests to reflect changes

[2019-02-28 15:20] tleunen commented on #1090
Yup, the stackable approach was just an idea to solve the issue, but I understand your point.

The idea here is to find a way to render the tabs correctly in a narrow space. Let's say you have a 300px column in which you want 2 or 3 tabs. They might render well in most cases, in English, French, Spanish. But what about German which usually have way longer names? So even if I agree that tab name sh

[2019-02-28 15:57] #1088 closed

[2019-02-28 16:37] kvendrik opened #1107 "Change search field max-width to 694px to get perfect center alignment"
Context: https://github.com/Shopify/core/issues/4421

[2019-02-28 16:59] ry5n commented on #1090
Exactly; it shouldn’t break with languages that tend to have longer strings. On the other hand, there’s only so much the component can do. Wrapping to 2 lines makes a lot of sense, but wrapping with an ellipsis is notoriously difficult in CSS, so we might need to compromise. If we have to compromise, I’m OK with simply fixing the existing behavior (rolling up any tabs that don’t fit into the discl

[2019-02-28 17:11] danrosenthal opened #1108 "[List filters] Clear all button also blows out the text field search"

[2019-02-28 17:56] danrosenthal opened #1109 "[List filters] hook up DatePicker filter"
|comp|
|-|
|![image](https://user-images.githubusercontent.com/1403188/53587408-43abbc80-3b58-11e9-86c9-d8c8c27ce6e9.png)|

- [ ] hook up filters
- [ ] take initial pass at interaction design
- [ ] pair with @sarahill to finalize IXD
- [ ] figure out how this looks on mobile

[2019-02-28 18:02] mbaumbach opened #1110 "[ResourceList] Make input field use type search instead of text"
# Feature request summary

The `ResourceList` provides a mechanism for search and it's likely desirable to make the `input` of type `search` for that particular component. Right now, it's using the default of type `text`.

## Rationale

By making the input of type `search` you would gain the benefits of a clear button (and escape key shortcut) from browsers that support it and the markup is also m

[2019-02-28 18:24] mbaumbach commented on #1110
It may make sense to extract the `SearchField` used in the `TopBar` or at least take some of the properties from it like:
[code]
I'm happy to work on a PR for this, but I thought it might be best to open the feature request and get some discussion on the following questions before diving into any code changes:

1. Is this even desired?
1. Should a shared component be used for the `TopBar` and the

[2019-02-28 18:28] sarahill commented on #965
@VanjaMitrovic and I paired on the opt in and fullstory acceptance flow.

Below is a proposed direction based on our exploration and discussion.

---

## Proposed direction

TL;DR
Our goal with introducing Fullstory, is to gain insight into how a merchant interacts with the admin in real time. We want to know their first impressions. Fullstory can help us cast a wider net without purely relying on

[2019-02-28 19:10] ptcampbell commented on #1072
Thank you!

[2019-02-28 21:23] #1104 closed

[2019-02-28 23:08] dpersing opened #1113 "[a11y] Form field examples lack a form wrapper"
# Issue summary

When we demonstrate using form fields in examples, they are not consistently wrapped in `<form>` elements. This can cause some inconsistent behaviors with screen readers that have different interaction/focus and reading modes, like NVDA.

## Expected behavior

Form fields can always be activated with the keyboard.

## Actual behavior

Checking and unchecking checkboxes in the chec

[2019-02-28 23:54] AndrewMusgrave commented on #1110
Using `type=“search”` makes perfect sense to me. This is something I wanted to add while using `ResourceList` in the admin but the default styling needs some work so we had to decided it out. @danrosenthal how does this fit in with the filters work your doing?

[2019-02-28 23:56] AndrewMusgrave commented on #1113
Is this something the styleguide should handle? Similar to how it wraps the examples in `AppProvider`. This way we can simplify our examples.

[2019-03-01 08:15] tmlayton opened #1115 "[TextField] Add prop for clear button"
# Feature request summary

Add prop to include a clear button like this:

![image](https://user-images.githubusercontent.com/344839/53624996-cbc0af00-3bb6-11e9-9008-149d5fa01326.png)
![image](https://user-images.githubusercontent.com/344839/53625063-f4e13f80-3bb6-11e9-97c7-e1424a18f27f.png)

## Rationale

This is already being done in various places, but requires a custom component because of the

[2019-03-01 09:22] cheetong commented on #54
any chance for this to be developed? It really save a lot of time on selecting the products. Imaging I have to click 200+ products one by one.

[2019-03-01 14:08] posth opened #1116 "[Modal] Expose onScrolledToBottom on Modal from it's Scrollable implementation"
# Modal

If using [Scrollable](https://polaris.shopify.com/components/behavior/scrollable) as the **Modal's** content, it's `onScrolledToBottom` handler won't get triggered.

The **Modal** component implements it's own **Scrollable** [here](https://github.com/Shopify/polaris-react/blob/master/src/components/Modal/Modal.tsx#L254)

Maybe exposing that implementation's handler as a new prop on **Moda

[2019-03-01 15:40] AndrewMusgrave commented on #1115
Their was a similar feature request a couple days ago #1110

[2019-03-01 16:07] AndrewMusgrave commented on #1091
I still seem unable to reproduce the bug with your code sample ([here's the working example](https://codesandbox.io/s/p5j2q6xo3j)). Is it possible you'r dispatching an action with the same type elsewhere?

[2019-03-01 16:10] AndrewMusgrave commented on #1116
This makes sense to me. It'll prevent nesting `Scrollable` which may be weird UI issues. I think it'll be a great addition 😄

[2019-03-01 16:10] AndrewMusgrave commented on #1116
Looks like you'r already started a WIP pr so i'll assign this issue to you @posth

[2019-03-01 16:13] posth commented on #1116
Hey @AndrewMusgrave thanks for the quick feedback!

Yes I went ahead and created a quick PR https://github.com/Shopify/polaris-react/pull/1117 for it

[2019-03-01 16:48] #1116 closed

[2019-03-01 16:59] dpersing commented on #1113
I think that would be great, @AndrewMusgrave!

[2019-03-01 17:10] matt-neill opened #1118 "TextField readOnly prop ignored when type="number""
# Issue summary

When the `type="number"` prop is present on the TextField component, the `readOnly` prop does not disable or remove the number steppers.  The user can still click the up/down arrows to change the field's value.

## Expected behaviour

Similar to how `disabled` fields are treated when `type="number"`, remove the number steppers to prevent the value from being changed.

## Actual be

[2019-03-01 17:45] chloerice commented on #1118
Hi @matt-neill, [removing the `onChange` prop](https://codesandbox.io/s/ojvp71nv3y) on the `readOnly` `TextField` prevents the steppers from incrementing/decrementing, but they still aren't disabled as I'd expect them to be in a `readOnly` number component. Thanks for raising this!!

[2019-03-01 17:51] chloerice commented on #678
This was implemented by @amrocha in #931

[2019-03-01 17:51] #678 closed

[2019-03-01 18:03] chloerice commented on #999
Hey @wshen001, thanks for raising this! From playing around with the sandbox you provided, it seems that the `showHeader` prop only hides the header when no filters or bulk actions are set. @ry5n is the intentional?

[2019-03-01 18:24] #1106 closed

[2019-03-01 18:30] ry5n commented on #999
It’s possible to have filters and no header, but both _sorting_ and _bulk actions_ depend on the header to work. So if you have either _sorting_ or _bulk actions_ present, this overrides `showHeader`.

Based on a quick test it seems to be working that way.

[2019-03-01 20:11] ry5n commented on #999
If it’s still a concern or if you have any questions, feel free to re-open.

[2019-03-01 20:11] #999 closed

[2019-03-02 12:20] AndreyYeryomin opened #1119 "Navigation component (subNavigationItems)"
I have issue with onClick method in sub navigation item.
link to code sandbox subNavigationItems https://codesandbox.io/s/lyq9joxl3z?fontsize=14

Are you using the React components? (Y/N): Y
Polaris version number: 3.9.0
Browser: Google Chrome Version 72.0.3626.119
Device: iMac
Operating System: OS X El Capitan ver 10.11.4

[2019-03-04 11:04] AKarmanov opened #1120 "ResourceList shows nothing when empty"
# Issue summary

If I have an empty array fed to resource list I see nothing.

## Expected behavior

I suspect it should show some kind of empty message and keep header displayed to allow filtering etc. after all I do specify resource name so something like "Couldn't find resourceName.plural" or something like that would be appropriate.

## Actual behavior

As soon as items becomes `[]` (an empty

[2019-03-04 15:39] alexdover opened #1121 "Modal Docs update"
Just a quick one - it would be great if you could make it clearer in the docs that the `children` props are only supported for stand-alone app use only. I have just spend some time trying to debug and work out why my modal wasn't showing and then noticed the message in brackets! Or make the example based on an embedded app, which I suspect most people will be using.

[2019-03-04 15:58] dleroux commented on #1120
Thanks for bringing this up @AKarmanov. We do take this into consideration when there's filtering https://codesandbox.io/s/qkxk9j5z8w?fontsize=14 but not when there isn't. As you can see we do use the resource name in that scenario.  The reasoning is that without filtering the list only renders/updates on initial load and the developer can handle rendering the list or not based on the results. Is

[2019-03-04 16:07] #1108 closed

[2019-03-04 16:58] #885 closed

[2019-03-04 17:08] AKarmanov commented on #1120
In my case I was planning on using an "alternateTool" to provide custom options for the list, I can technically move it out or try to use a filter (which has search field which I don't need).

I think that ignoring presence of the list is a bit harsh though. The user doesn't know that there is a list in that area and if I have other components, say a pagination component right below it is still vi

[2019-03-04 17:19] #1100 closed

[2019-03-04 19:13] ry5n commented on #1102
@joshbedo We need more information to help resolve this issue. If you can provide it, please re-open and we can help further.

[2019-03-04 19:13] #1102 closed

[2019-03-04 20:51] #947 closed

[2019-03-04 21:56] michaelgrigoriev opened #1122 "Better control over field width"
# Feature request summary

## Rationale

---

🌟 Feature requests that are not yet planned will be closed. We then use the issue’s [:+1: upvotes](https://help.github.com/articles/about-conversations-on-github/) to track and set priorities. See the [contribution guidelines](https://github.com/Shopify/polaris-react/blob/master/.github/CONTRIBUTING.md) for more information.

[2019-03-04 22:03] michaelgrigoriev opened #1123 "Better control over field width"
# Feature request summary

Field width should be flexible to accommodate more realistic entries.

## Rationale

We have standard full-width fields that don't work super well and wouldn't score very high from a usability standpoint given variability in possible inputs and meaning of those fields. The field should be closer to actual realistic entries so that users don't misinterpret the significanc

[2019-03-04 22:05] #1122 closed

[2019-03-04 22:14] ry5n commented on #1095
If we do support columns in resource lists, they’ll be optional. We’ll have to support 2 ways of sorting on lists. Ideally those 2 ways would feel similar enough to not make people think when using one or the other.

Maybe something like this (top row is with columns, bottom row is without):

![image](https://user-images.githubusercontent.com/804014/53766172-fb0d3f80-3e86-11e9-9bc0-fa59e2b435db.pn

[2019-03-04 22:25] adamcarchibald commented on #1089
@ry5n sounds good i'll submit one

[2019-03-04 22:49] danrosenthal commented on #1123
Things can get pretty ugly in cases like this:

|gross|
|-|
|![image](https://user-images.githubusercontent.com/594960/53760959-4e38bf80-3e92-11e9-9d5c-d7ecc8d379fe.png)|

cc: @sarahill @ry5n

[2019-03-04 23:45] ry5n commented on #1123
Bang on.

For the moment, it’s possible to have some control over overall field width using `FormLayout.Group` and some empty spans: https://codesandbox.io/s/0q865n15pw

However, it’s only a rough approximation of what you’re after. Ideally we want a way to hint to the field what width it should be, while still allowing a parent layout to have some control. (At small screen widths we might want to

[2019-03-05 02:03] chloerice opened #1124 "[ComboBox] Keypress test suite has false positives"
# Issue summary

[These async functions](https://github.com/Shopify/polaris-react/blob/e7a4eb852df5f0935c8dca7b7f1794b888e9af51/src/components/Autocomplete/components/ComboBox/tests/ComboBox.test.tsx#L431) are not ever invoked, so the `expect` lines in them aren't ever hit.

[2019-03-05 13:08] dleroux commented on #1120
👍 I agree with you that showing nothing at all may be confusing. Not sure the current `empty search` image we have would be appropriate in this case scenario. I'll let others way in a well, but it's probably best we do output something because outputting something custom will still be possible.

[2019-03-05 15:07] dleroux commented on #450
:wave: sorry for the delay on this but it looks like this [PR](https://github.com/Shopify/polaris-react/pull/1017) might solve this issue.

[2019-03-05 15:50] clauderic commented on #1004
Any update on this @chloerice?

[2019-03-05 18:56] AndrewMusgrave commented on #1124
We noticed this [awhile ago](https://github.com/Shopify/polaris-react/pull/480#discussion_r232341581) although I wasn't aware the pr never shipped 😬 If I recall @danrosenthal mentioned previously writing up a brief to refactor `AutoComplete` with Tim?

[2019-03-05 20:18] kvendrik opened #1125 "Change TopBar contextControl max-width to width"
Currently `TopBar`'s `contextControl` has too much influence on the TopBar layout as when the react node passed into `contextControl` is smaller than the max width the layout of the top bar will change. To prevent this we should change the `max-width` on the context control wrapper to a normal `width` definition to always force a certain width.

[2019-03-06 00:22] danrosenthal commented on #1124
That's right @AndrewMusgrave, the issue for that is [here](https://github.com/Shopify/polaris-react/issues/689). @tmlayton mentioned he had it nearly done in a recent chat

In the mean time, we should consider just reverting this commit: https://github.com/Shopify/polaris-react/commit/f894f347c3fd61a10519ef4078bc6bc37884ede9

[2019-03-06 16:10] samjrdn opened #1128 "Failing tests are passing"
# Issue summary

There are a number of tests, specifically in [`ComboBox.test.tsx`](https://github.com/Shopify/polaris-react/blob/2a56c498d462ab990ebab5f4d1d94ba4452ef4ff/src/components/Autocomplete/components/ComboBox/tests/ComboBox.test.tsx#L431) and perhaps elsewhere, that are passing because the assertions are not called.

The affected code has this pattern:
[code]
which declares a function th

[2019-03-06 17:37] chloerice commented on #1128
Crossing linking to duplicate issue https://github.com/Shopify/polaris-react/issues/1124

[2019-03-06 17:48] chloerice commented on #1004
Hey @clauderic, I'm currently helping another team ship a project and didn't mean to let this fall through the cracks. Thanks for the ping. [The rollup logic you](https://github.com/Shopify/polaris-react/blob/master/src/components/Navigation/components/Section/Section.tsx#L181-L183) mentioned handles the optional section rollup, which collapses the section to a set number of items, not the entire

[2019-03-06 18:00] danrosenthal commented on #1128
Let's close this as a duplicate of https://github.com/Shopify/polaris-react/issues/1124

[2019-03-06 18:00] #1128 closed

[2019-03-06 18:02] AndrewMusgrave commented on #1124
It looks like the PR added some key handlers as well. Do we think it's more worthwhile to make all the tests run and skip ones that fail for now?

[2019-03-06 18:03] danrosenthal commented on #1124
From what I can tell, each of those cases was already handled by vanilla event handlers. Can you confirm?

[2019-03-06 18:04] AndrewMusgrave commented on #1124
👀

[2019-03-06 18:10] AndrewMusgrave commented on #1124
It looks like the events we're previously handled however they were on the `combobox` opposed to `document`. Seems the PR [may include](https://github.com/Shopify/polaris-react-deprecated/pull/2364/files#diff-76b2ad40e33f2b380b15d0bf5a7cd41dR181) a `popover` bug fix (not positive without digging into it)

[2019-03-06 18:43] ry5n opened #1130 "[List filters] Handle name collisions"
Steps to reproduce:

1. With the better list filters enabled, visit `admin/orders`.
2. Add any filter. For example, type “100” into the “Filter orders” field.
3. Press “Save filters”.
4. Give the new filters the name “Test”
5. Press the “Saved” button, and rename the filter set to an existing name, like “Unpaid”.

Expected behavior:

A confirmation modal should appear, stating that “Unpaid” alread

[2019-03-06 18:49] chloerice commented on #1124
Yeah, I'd rather just fix the tests. Just need to trigger the listener component and 🔥 the listener map mock.

[2019-03-06 18:50] AndrewMusgrave commented on #1124
I'll take a look today and see if I can refactor the breaking tests

[2019-03-06 18:55] ry5n commented on #1130
See the content spec for latest microcopy.

[2019-03-06 19:18] ry5n opened #1131 "[List filters] Shortcut popover alignment"
Currently the filter shortcut popovers line up with the right side of their buttons. It would be easier for the eye to move find the options if the popover were aligned with the left of the buttons instead.

| Actual | Expected |
| --- | --- |
| <img width="253" alt="screen shot 2019-03-06 at 11 10 25 am" src="https://user-images.githubusercontent.com/804014/53907188-83175480-4001-11e9-85c0-97bd7a

[2019-03-06 19:32] ry5n opened #1132 "[TextField] Prefix color, spacing incorrect"
Expected:

- Prefix should remain `color(ink, lighter)` regardless of field state
- Should be 8px space between prefix and field value

<img width="334" alt="screen shot 2019-03-06 at 11 27 50 am" src="https://user-images.githubusercontent.com/804014/53908054-624ffe80-4003-11e9-8273-83581b90fac1.png">

Actual:

- Prefix darkens when field value entered, making it unclear that the prefix is not par

[2019-03-06 19:37] ry5n opened #1133 "[Collapsible] Accordion animation not smooth"
When animating a `Collapsible` section, if it has spacing (margin, padding) around the content that is being animated, it causes jank:

![jank](https://user-images.githubusercontent.com/344839/58289103-48a09680-7d6a-11e9-88f3-845bf0295469.gif)

Reduced test case: https://codesandbox.io/s/stoic-mirzakhani-v4ino

[2019-03-06 19:40] loic-d commented on #702
This came up again in an internal bug hunt. Is this something you guys plan on tackling soon or should we take care of it?

[2019-03-06 19:53] ry5n opened #1134 "[List filters][Polish] Save filters icon alignment"
The icon artwork in the save filters icon isn’t centered in the icon frame

<img width="63" alt="screen shot 2019-03-06 at 11 50 31 am" src="https://user-images.githubusercontent.com/804014/53909364-62053280-4006-11e9-86d2-cc56fafe2451.png">

[2019-03-06 20:37] mbaumbach opened #1135 "[SkeletonThumbnail] Thumbnail and SkeletonThumbnail sizes differ"
# Issue summary

The `SkeletonThumbnail` and `Thumbnail` each provide a `size` prop, but the resulting size of the elements differ which can cause shifting should a `SkeletonThumbnail` be replaced with a `Thumbnail` after loading is completed.

## Expected behavior

When using the same `size` prop for both `SkeletonThumbnail` and `Thumbnail` the elements will take up the same width and height on t

[2019-03-06 20:42] ry5n opened #1136 "[List filters][Polish] Save and sort button focus ring"
The focus outline for the save and sort buttons is cut off (small and large screen). This isn’t the case for the filter shortcut field or buttons.

Small screen (only save is present)
<img width="69" alt="screen shot 2019-03-06 at 11 50 58 am" src="https://user-images.githubusercontent.com/804014/53909365-62053280-4006-11e9-829b-7027f9ee21f4.png">

Large screen (affects both save and sort)
<img wi

[2019-03-06 21:08] AndrewMusgrave commented on #1124
@chloerice Sorry I totally missed the fact you assigned this to yourself 😨

[2019-03-06 21:22] AndrewMusgrave commented on #1098
Closing this issue for now. We'll address it when updating TS 🎉

[2019-03-06 21:22] #1098 closed

[2019-03-06 21:24] AndrewMusgrave commented on #1091
I'm going to close the issue for now. Please feel free to re-open if this persists.

[2019-03-06 21:24] #1091 closed

[2019-03-06 21:26] AndrewMusgrave commented on #1062
I'm going to close the issue for now. Feel free to reopen if you need more assistance.

[2019-03-06 21:26] #1062 closed

[2019-03-06 21:30] AndrewMusgrave commented on #867
👋 How's the progress on this, is it safe to say it's a `work in progress`? @claudiomunoz

[2019-03-06 21:32] ry5n opened #1139 "[List filters] Save filters button icon and copy"
There was a typo in the content spec that led to some of copy for the save filters button being incorrect.

#### Expected

| All tab | Untitled tab | Saved tab |
| --- | --- | --- |
| <img width="136" alt="screen shot 2019-03-06 at 12 43 13 pm" src="https://user-images.githubusercontent.com/804014/53912250-6da82780-400d-11e9-91cb-ab0f2105b7e8.png"> | <img width="136" alt="screen shot 2019-03-06 at

[2019-03-06 21:32] AndrewMusgrave commented on #1021
Hi @sashahilton00 thanks for the request. I'm going to close the issue and label it as a feature request. Please upvote the issue so we can gauge interest 😄

[2019-03-06 21:32] #1021 closed

[2019-03-06 21:36] ry5n commented on #1139
@VanjaMitrovic Can you double-check I have this right?

[2019-03-06 21:37] AndrewMusgrave commented on #1028
At first glance this seems like an app bridge issue since the bread crumb is coming from app bridge (not rendered from polaris). @Shopify/app-bridge is it possible to use libraries like react-router with app brdige?

[2019-03-06 21:51] AndrewMusgrave commented on #942
@tabrez96 Can you listen for a keypress on the document?
[code]

[2019-03-06 21:54] AndrewMusgrave commented on #936
@maxariss can you confirm this is still broken? I think we have fix this in past release

[2019-03-06 22:03] vividviolet commented on #1028
@AndrewMusgrave the full app reload cannot be avoided currently. We are working on a solution in App Bridge to allows apps to handle their own redirects which will be more compatible with react-router. We will update this issue when the solution has been shipped in App Bridge.

[2019-03-06 23:04] AndrewMusgrave commented on #1028
Awesome, thanks for the quick response @vividviolet 🙏

[2019-03-07 02:05] claudiomunoz commented on #867
Sorry, I thought this was done. I'm not sure what's pending, as the design have been done for a very long time. See here: https://share.goabstract.com/dabc4b91-351d-45b2-bfb7-293ed8295563

[2019-03-07 12:47] marisveide commented on #832
Please, make this change happen, otherwise, it doesn't make sense to use Polaris tables for displaying data.
Having equal column widths for all the columns, regardless of their contents, generates a really unusable table, where 1 digit column takes the same amount of space as the long text column.

[2019-03-07 14:36] VanjaMitrovic commented on #1139
expected is 👍

[2019-03-07 17:30] chloerice commented on #1135
Thanks for raising this @mbaumbach, putting up a fix now!

[2019-03-07 17:50] #875 closed

[2019-03-07 17:55] AndrewMusgrave commented on #838
👋 Would you mind helping me understand the why you need to know the root component? Possibly a code sample?

[2019-03-07 19:43] #1135 closed

[2019-03-07 20:51] #1124 closed

[2019-03-07 22:27] chloerice commented on #1135
v3.10.0 was just released with this fix among a bunch of other goodies 😁

[2019-03-08 00:53] mbaumbach commented on #1135
Thanks for the fast turnaround @chloerice! Fix is working great and we already deployed it to our production apps. :)

[2019-03-08 08:50] fchienvuhoang commented on #641
I tested modal in Polaris 3.10.0 and it worked, i should close this issue!

[2019-03-08 08:51] fchienvuhoang commented on #641
I tested modal in Polaris 3.10.0 and it worked, i should close this issue!

[2019-03-08 08:51] #641 closed

[2019-03-08 14:30] sarahill commented on #1095
I'm going to close this issue for now. This is something we'll most likely want to revisit but we can re-open or create a new issue at that time.

[2019-03-08 14:30] #1095 closed

[2019-03-08 14:33] sarahill commented on #965
Based on feedback from the UX Critique with Kyle P. yesterday:

Design and content to explore a couple options around the Opt-in + Fullstory acceptance:
- Showing the acceptance modal at some point after the merchant has already opted in
- Make the acceptance modal more meaning. Onboarding step + acceptance

[2019-03-08 15:10] sarahill commented on #965
@VanjaMitrovic @selenehinkley

content for opt in banner: should we be explicit about what early access means? We talked about being explicit with the opt in message: the filters will be released in `n` number of days/weeks but you can turn the update on early.

Example for GMail
![image](https://user-images.githubusercontent.com/8629173/54036378-7faed500-4189-11e9-84c8-de73a0e28ddb.png)

[2019-03-08 15:39] dpersing commented on #1110
@AndrewMusgrave I suspect the additional styling work would be out of scope for the current filters work, since the look of the form itself isn't changing for now. I think this would be a great to work in as we continue to work on the resource list!

[2019-03-08 23:56] HParker commented on #1121
There does seem to be a section with a embedded app example [here](https://polaris.shopify.com/components/overlays/modal#section-use-in-an-embedded-application), but I agree it could be more prominent.

[2019-03-09 07:27] AndreyYeryomin commented on #1093
@ry5n

`import React from 'react';
import ReactDOM from 'react-dom';
import {AppProvider ,Page} from "@shopify/polaris";

ReactDOM.render(
    <AppProvider
        apiKey="b2218bb6342596bb557ed104561203c5"
        shopOrigin="devit-dev.myshopify.com"
        forceRedirect={true}

        <Page
            breadcrumbs={[{content: 'Products'}]}
            title="Product reviews"
            primary

[2019-03-09 16:55] richjdsmith commented on #244
Hey @JWeis, what made you decide to ditch the React components and start over with Stimulus? (No judgment coming from me - personally I love Stimulus!)

[2019-03-09 19:27] ry5n commented on #1093
Thanks @AndreyYeryomin. I’ll dig into this and we’ll get back to you with next steps.

[2019-03-11 13:44] alex-page commented on #1133
I'd be keen to look into this.

This is usually a problem with accordion moving multiple elements below it. This causes a repaint on the entire section and janky animation. We could probably replicate this on a page with a lot of content below and accordion, or a page with multiple accordions being triggered by one toggle.

We also might be able to make this slightly more performant using [FLIP](h

[2019-03-11 13:55] sarahill commented on #965
Ryan, Vanja, Sonja, and I paired on Friday, March 8, 2019, to flesh out the designs for the Fullstory acceptance and Send feedback on opt out.

• For Fullstory acceptance, we are proposing displaying the message in the card after the merchant has opted-in. There will be three options along with the Fullstory acceptance text: `Allow`, `Skip`, `Switch back`.
    • We ultimately felt moving away from

[2019-03-11 15:35] StephPoce commented on #965
@ry5n @sarahill @VanjaMitrovic @yourpalsonja

The removal of the modal is great, it makes the transition from the old to new experience very smooth.

In regards to the Fullstory acceptance:

- There are two types of actions in the card but the content is very focused around the tracking acceptance. This may create confusion around the switch back mechanism. Is there a way to more clearly articulat

[2019-03-11 15:43] markiiikram commented on #810
@nwtn is getting a slightly different version of this problem today.

![Screen Shot 2019-03-11 at 11 28 03 AM](https://user-images.githubusercontent.com/3484321/54136278-d4ed1f80-43f1-11e9-9a6f-0866c22d25e6.png)

Related to this issue is a "double rendering" that seems to happen because of SSR and AppProvider. AppProvider checks for client, it's not ready, then it checks it again and renders "prop

[2019-03-11 15:51] johanstromqvist commented on #1133
I share the assessment. The uneven transition is likely due to two transitions unintentionally happening in sequence, and that there probably are opportunities to prevent jank.

I'd happily pair with you on this @alex-page! We could identify other places where such repaints happen, make that example of perf bottleneck, and develop a UX Dev guideline for `transform` usage and `FLIP`.

[2019-03-11 16:09] VanjaMitrovic commented on #965
Proposed opt-in/out content:
`Get early access to more control over filters (Early access)`

`In less than 3 weeks, the way to filter orders will be updated. You’ll be able to rename custom tabs and combine more than one filter from the same category.`

This is the content @selenehinkley and I worked on based on some feedback/ideas from Kyle and Sara

[2019-03-11 16:10] VanjaMitrovic commented on #965
Proposed FullStory opt-in/out content:

`Improve filters by sharing your activity with us`

`We'll temporarily track what you click on in Shopify to measure how it's working for you. View our [privacy policy].`

`[Allow sharing] [Skip]                         [Switch back to old filters]`

[2019-03-11 16:24] VanjaMitrovic commented on #965
From https://github.com/Shopify/shopify/issues/187810

[2019-03-11 16:28] ry5n commented on #965
For the [early access content](https://github.com/Shopify/polaris-react/issues/965#issuecomment-471607203):

- Since we have the badge saying “Early access”, can we simplify the title? “Get more control over filters”
- Can we be a little looser about the timeline, just in case? “In about 3 weeks…”
- Nit: in the second body sentence, “combine” might be harder to understand than a simpler verb.
- Ca

[2019-03-11 16:33] ry5n commented on #1133
For the [Better List Filters project](https://github.com/Shopify/polaris-react/projects/2), this is something we need to fix ASAP in order to ship, so I’d prefer to tackle this at the project level before broadening scope.

@danrosenthal Could you use the help on diagnosing this?

[2019-03-11 16:35] dpersing commented on #965
Some notes on focus management:

- When a merchant activates `Try the new list filters`, is there a page refresh, or does the list filter section and banner update automatically?
- In general, any time the content updates dynamically we'll need to make sure focus isn't lost when the content inside the banner changes. Focus should get moves to the next version of the banner when it updates.

[2019-03-11 16:38] VanjaMitrovic commented on #965
* Sure, we can get rid of that. Good point
* `About` or `around` might work.
* We struggled with this message, especially finding a verb that is both simpler and more accurate to describe the action. any ideas come to mind @ry5n?
* The rationale behind changing the CTA to `[Get early access]` is that it implies that this change is going to be "permanent" in a few weeks time. It also ties the CTA t

[2019-03-11 16:51] sarahill commented on #965
[In reference to Fullstory acceptance]

☝️ I believe our thought with removing a title from the acceptance step was to focus the merchant on the actionable content. @VanjaMitrovic I just noticed you did add a title to the newest content updates: `Improve filters by sharing your activity with us`.

So it would look something like:
![image](https://user-images.githubusercontent.com/8629173/54141479-

[2019-03-11 17:09] ry5n commented on #965
^ I’m not a big fan of the Fullstory opt-in (second step) having a title, I don’t think it merits that level of emphasis

[2019-03-11 17:16] sarahill commented on #965
Yea, it feels empty without a title but with a title it start to feel too much like the opt in banner. Will merchants be confused by this?

[2019-03-11 17:22] VanjaMitrovic commented on #965
I think if we remove the banner the concern was that they don't read it at all, which seems fine. we also don't want it to feel compulsory. let's remove the header and add it to the body and see how that looks. also, we should add a period after `privacy policy`.

[2019-03-11 18:59] dpersing commented on #965
Oh! Re the `privacy policy` link. I put a comment on the Invision file but it was a few versions ago. Does that link open a new tab/window? We'll just want to be aware of https://github.com/Shopify/polaris-ux/issues/146, since we don't have a consistent way of conveying that change of context.

[2019-03-11 19:33] kvendrik opened #1149 "[Popover] add way to customize container"
# Feature request summary
[Context (internal link)](https://github.com/Shopify/web/issues/11544)

## Rationale
Scenario's might occur (see context link above) where you want to customize properties on the popover's container.

[2019-03-11 19:35] kvendrik opened #1150 "[Popover] add way to prevent auto <Pane /> wrapping"
# Feature request summary
Currently the only way to avoid this is to add a Pane yourself as the first direct child of Popover.

## Rationale
The reason you might need this is if you for example want to customize what areas of the popover are scrollable ([context (internal link)](https://github.com/Shopify/web/issues/11544)).

[2019-03-11 19:38] kvendrik opened #1151 "[Popover] allow for content height changes"
# Feature request summary
Currently when the height of the content in the popover changes it won't handle these well.

## Rationale
Say you have a `<Collapsible />` in the Popover you would want the height to update when the collapsible opens/closes ([context (internal discussion)](https://github.com/Shopify/web/issues/11544)).

[2019-03-11 20:45] danrosenthal opened #1152 "[Badge] Handle overflow state"
Badges do not handle an overflow state, which causes the design to appear visually broken:

<img width="494" alt="Screen Shot 2019-05-15 at 7 15 14 PM" src="https://user-images.githubusercontent.com/344839/57821558-d87c8a00-7745-11e9-9836-d4930cd54a64.png">

[2019-03-11 20:45] danrosenthal opened #1153 "[List filters] add graphql endpoint for enabling/disabling beta flag"

[2019-03-11 20:45] danrosenthal opened #1154 "[List filters] build feedback flow"

[2019-03-11 20:45] danrosenthal opened #1155 "[List filters] build opt-in/out flow"

[2019-03-11 20:45] danrosenthal opened #1156 "[List Filters] Make width of the popover the same across states (set a min-width for larger breakpoints)"

[2019-03-11 20:46] danrosenthal opened #1157 "[List filters] renaming a saved search throws a network error"

[2019-03-11 20:46] danrosenthal opened #1158 "Saved filter set popover: remove the × (cancel) button. On popover close, reset the state of the text input to match the current tab name."

[2019-03-11 20:46] danrosenthal opened #1159 "[List filters] initializing on mobile has issues"
- drawer does not open in mobile mode
- test in iOS and android

[2019-03-11 20:46] danrosenthal opened #1160 "Change “…to the top of this page” to “…to the top of this list” in the save filters popover (help text)"

[2019-03-11 20:46] danrosenthal opened #1161 "Use “Untitled” as the name of the unsaved tab"

[2019-03-11 20:46] danrosenthal opened #1162 "[Popover] Allow specifying which element should get focus when opening"

[2019-03-11 20:47] sarahill opened #1163 "[List filters] Anayltics tracking, tagging"

[2019-03-11 20:47] danrosenthal opened #1164 "[List filters] Fix saved filter popover flashing between save states"

[2019-03-11 20:48] danrosenthal opened #1165 "[List filters] tags and badges should follow content guidelines"
PR: https://github.com/Shopify/web/pull/11652

[2019-03-11 20:48] danrosenthal opened #1166 "[List filters] Implement deep linking from tag -> accordion section"

[2019-03-11 20:48] danrosenthal opened #1167 "[List filters] Use `Sheet` from Polaris"

[2019-03-11 20:48] danrosenthal opened #1168 "[List filters] improve `BetterOrderFilterControl` test coverage to 80%"

[2019-03-11 20:48] danrosenthal opened #1169 "New component: ExpandingDiv"
## Problem

When adding and removing filters, it is unclear what is happening to the list. The transition of adding tags, removing tags, and updating the list of results is jarring and confusing.

![Screen Capture on 2019-03-13 at 09-52-25](https://user-images.githubusercontent.com/8629173/54284181-df382680-4575-11e9-9322-4ac990b18dae.gif)

## Possible solution

An `ExpandingDiv` component, which

[2019-03-11 20:48] danrosenthal opened #1170 "[List filters] Test with locations enabled"

[2019-03-11 20:56] danrosenthal opened #1171 "[List filters] On popover close, reset the state of the text input to match the current tab name."

[2019-03-11 20:58] sarahill commented on #1162
@dpersing let's talk about this. Accessibility concerns?

[2019-03-11 21:05] sarahill commented on #1133
Issue with activator height with no badge vs. badge. Need to make a design decision around this.

[2019-03-11 21:08] tmlayton commented on #1155
Closing in lieu of #965

[2019-03-11 21:08] #1155 closed

[2019-03-11 21:14] sarahill opened #1172 "Fullstory implementation: Tracking"
@danrosenthal @tmlayton

[2019-03-11 21:15] sarahill opened #1173 "[List filters] [a11y] Accessibility review"

[2019-03-11 21:16] sarahill opened #1174 "[List filters] Usability testing with merchants"
We are working with Seneca on getting a plan together for merchant testing.

- [x] Which merchants are we testing with
- [x] Research plan
- [x] Tasks for merchant testing
- [x] Recruiting email
- [x] Schedule sessions

[2019-03-11 21:23] sarahill opened #1175 "Request manual translations for feedback form"
[Request manual translation](https://vault.shopify.com/Manual-Translation-Requests-in-Smartling)

[2019-03-11 21:24] sarahill opened #1176 "[List filters] Feedback form questions"
We are providing two paths for the merchant to provide feedback on the new filters.

1. Once the merchant opts into the new filters, they will be able to leave feedback at any point. A link to `Send feedback` will be in the `Early access` banner.

2. If the merchant decides to `Switch back`, we will give them a path to `Send feedback` in the confirmation toast.

The feedback forms are one way we a

[2019-03-11 21:24] ry5n commented on #1133
Can confirm this is not an issue with the Polaris component, but with the particular design on this project.

[2019-03-11 21:35] VanjaMitrovic commented on #1176
The WIP content doc (under V3)
https://docs.google.com/document/d/15-Jm_KvgnwDGBOYMUaIpC1yu2LCMOmh8mUphaUnDUv8

[2019-03-11 21:36] ry5n commented on #1157
Needs investigation

[2019-03-11 21:58] ry5n commented on #1173
@sarahill Let’s work on a short set of instructions for how to review this in Web, and what Devon should do to test it. Then we can assign to her.

[2019-03-11 23:05] tmlayton commented on #1172
Handled in https://github.com/Shopify/shopify/pull/187215

[2019-03-11 23:19] tmlayton opened #1177 "[List filters] Sort out beta and feature set logic"
- No plus merchants
- Only store owners
- Must have opt-in beta flag AND feature beta flag to see new UX, this may we maintain control over the kill switch if shit hits the fan

---

- Possibly English only? (when it comes time to do this work, check with the team to see if this is still something we want, and if so figure out what shop dimension this is)
- Any additional filtering for who should

[2019-03-11 23:30] tmlayton commented on #965
Sort of, we need to trigger a query refetch for the shop data which will then update the DOM and show a toast message. The banner does not update, it is replaced. Although maybe we could build this out as a single component with a shared container.

[2019-03-11 23:52] dpersing commented on #1162
Working from this mock up (let me know if there's a newer one, @sarahill!)

![Save popover](https://user-images.githubusercontent.com/1462085/54165368-a127ef00-441d-11e9-9ac8-53a2bee3ffeb.png)

Since the filters that are currently applied are listed before the text input, I'd like to refrain from moving focus directly to the field...unless we want to tie the filters list to the text input programm

[2019-03-12 13:03] sarahill commented on #1176
Related to https://github.com/Shopify/polaris-react/issues/1175#issue-419690149

[2019-03-12 13:47] danrosenthal opened #1178 "[List filters] fix translations on `ListFilters` component"
`Cannot read property 'translate' of undefined`

This bug can be reproduced in production on the Order/index react route under the `better-list-filters` beta flag.

[2019-03-12 15:53] chloerice opened #1179 "[ResourceList.Item] onClick is called three times on keypress of Enter"
# Issue summary

The `ResourceList.Item` click handler is invoked several times when triggered once via keypress of Enter/Return. I'm guessing it's a problem of the event bubbling?

## Expected behavior

The callback is only invoked once on keypress.

## Actual behavior

- When a `ResourceList.Item` is keypressed with Enter/Return, the `onClick` callback is invoked three times.

## Steps to reprod

[2019-03-12 16:22] VanjaMitrovic commented on #1176
New doc with final questions. Feel free to comment: https://docs.google.com/document/d/1gl-L8ODAV3teCwowZtGIKsHqlwsPJsC2YYETQ9xwcbU/edit

[2019-03-12 17:02] #1153 closed

[2019-03-12 17:17] sarahill commented on #1176
👍 This look good to me. If everyone is cool with it I say we go ahead and start submitting this for translation.

[2019-03-12 18:11] qw-in commented on #1028
For those looking for a workaround:

Using `@reach/router` but should be universal

[code]

[2019-03-12 19:29] ry5n commented on #1176
This looks really good to me, and I’m happy shipping with it 🎉

[2019-03-12 19:32] sarahill commented on #965
### Fullstory acceptance

Vanja worked out the content for the opt in banner and full story acceptance. The actions in the fullstory acceptance card are now more clear: `Allow sharing`  `Skip`  `Switch back to old filters`

Latest designs:
https://shopify.invisionapp.com/share/TYQYTIXZV6R

[2019-03-12 20:01] mathieulag opened #1180 "[DropZone] Text and hyperlinks can be dragged into the DropZone"
# Issue summary

When using the `DropZone` component, it's possible to drag a lot of stuff other than files into it. In this example, I dragged in an hyperlink:

![Mar-12-2019 14-18-06](https://user-images.githubusercontent.com/44874393/54231159-58843a80-44de-11e9-8815-1a5633af28c6.gif)

I fixed it quickly in my case by using a `customValidator`, but that only fixes it for my very specific case (S

[2019-03-12 20:01] ry5n commented on #965
I’m happy with this flow, and the copy. Steph sent the latest flow in Invision ^ to Kyle for feedback.

[2019-03-12 21:48] ry5n commented on #1160
Fixed in Shopify/web#11579

[2019-03-12 21:48] #1160 closed

[2019-03-12 22:07] ry5n opened #1181 "[List filters] Width of save filters button is hard-coded"
In order to prevent the filter layout from jumping around after saving, unsaving and clearing filters, the “Save filters” button needs to maintain a consistent width, even as its content changes from “Save filters” to “Saved”.

Currently, this is achieved with a hard-coded width on the button container. This is likely to break for languages other than English.

[2019-03-12 23:04] ry5n commented on #1181
When you see this Sonja, let me know if you want to pair on it

[2019-03-13 06:22] ry5n opened #1182 "[List filters] Add "Clear" button to each accordion section"
For list filter categories that are radios, the “Any” option represents the default state (no filtering of that category).

| Expected | Actual |
| --- | --- |
| In filters that are radios, “Any” should be selected by default | No option is selected by default |
| Selecting “Any” adds a filter tag (for example: “Any order”) | Selecting “Any” should remove the filter tag for that category (it shoul

[2019-03-13 06:23] ry5n commented on #1182
@danrosenthal @yourpalsonja Can we chat about this? I want to see if this is going to be hard for any reason

[2019-03-13 13:57] sarahill commented on #1169
@johanstromqvist Your guidance on this would be much appreciated.

[2019-03-13 15:05] #1107 closed

[2019-03-13 15:51] StephPoce commented on #1176
@sarahill We're good to go on this. There was a small change based on feedback from Kyle but the doc has been updated and it's ready for translation.

[2019-03-13 16:05] sarahill commented on #1176
Sounds great! I'm going to close this issue and handle the translation submission in #1175

[2019-03-13 16:05] #1176 closed

[2019-03-13 16:24] johanstromqvist commented on #1169
@sarahill Let's pair up on this.

[2019-03-13 17:34] sarahill commented on #1175
The following `.txt` files have been submitted for translation in Smartling.

[Send feedback - for translation.txt](https://github.com/Shopify/polaris-react/files/2962850/Send.feedback.-.for.translation.txt)

[Send feedback on switch back - for translation.txt](https://github.com/Shopify/polaris-react/files/2962851/Send.feedback.on.switch.back.-.for.translation.txt)

Confirmation of submission
![i

[2019-03-13 17:44] sarahill opened #1184 "[List filters] Saving a filter set interaction"
When a saving a filter set we should think about strengthing the relationship between the save mechanism and the tabs.

We're cognizant this is not ideal and would ideally start with moving the action the closer to the tabs themselves.

[2019-03-13 17:59] ry5n opened #1185 "[List filters][Polish] Filter and sort button spacing"
There should be more space between filters and sort button than between “Save filters” button and the button group of filters.

### Expected

<img width="769" alt="Screen Shot 2019-03-13 at 11 04 48 AM" src="https://user-images.githubusercontent.com/804014/54303271-d9474300-457f-11e9-9e70-ce27fe8f2b19.png">

### Actual

<img width="1118" alt="Screen Shot 2019-03-13 at 11 00 05 AM" src="https://use

[2019-03-13 18:34] dominiceden opened #1186 "Add an optional 'key' attribute to Select component options"
# Feature request summary

<Select> components currently accept an array of options, where each element in the array is an object with the format `{label: 'Label', value: 'value'}`. React insists that each item in an array must have a unique key. In Polaris, this key is the same as the `value` attribute in the object so objects with the same value but different names are flagged by React.

I propo

[2019-03-13 18:45] sarahill commented on #965
@StephPoce and @selenehinkley updated the content for Fullstory acceptance based on feedback from Lynsey Thornton, Kyle, and Yesenia.

---

### Fullstory acceptance

*Goals* of this content

We want to:
    - let merchants know they have the option to help us improve filters by allowing us to temporarily track their activity
    - clarify that "activity" includes their interactions with filters in

[2019-03-13 19:26] kvendrik opened #1190 "Remove unused data-polaris-unstyled prop from all components"
As it's not being used anymore, context [here (internal link)](https://shopify.slack.com/archives/C8H54T86Q/p1552504392143900?thread_ts=1552504258.143800&cid=C8H54T86Q).

[2019-03-14 03:07] cloneali commented on #1118
Can I work on this one?

[2019-03-14 04:04] cloneali commented on #1119
I need to investigate further but I think the problem is here: https://github.com/Shopify/polaris-react/blob/bb4b8751b7b5b06b08419d7399bb220da34476dd/src/components/Navigation/components/Item/Item.tsx#L247

I can look into this one if no one is already working on it.

[2019-03-14 13:01] #1161 closed

[2019-03-14 13:04] danrosenthal commented on #1182
This should be pretty straightforward to implement, and wouldn't take much time. My only concern is that merchants might not intuitively understand that `any` maps to no filter in that set applied. Would the absence of a badge (as confirmation of an action taken) be confusing?

[2019-03-14 13:28] danrosenthal commented on #1110
@AndrewMusgrave sorry for the delayed response. Devon is right that this is a bit out of scope for our project, but it's something that I think would make sense to add. It also aligns with adding a clear button on the text input.

[2019-03-14 13:52] danrosenthal commented on #1178
|still broken|😢|
|-|-|
|<img width="1552" alt="Screen Shot 2019-03-14 at 9 51 13 AM" src="https://user-images.githubusercontent.com/1403188/54362128-c8a9d200-463e-11e9-8170-999c1077a7c3.png">|<img width="1552" alt="Screen Shot 2019-03-14 at 9 50 06 AM" src="https://user-images.githubusercontent.com/1403188/54362151-d19aa380-463e-11e9-9f27-2de4be46e29e.png">|

@tmlayton it appears my fix did not wo

[2019-03-14 14:03] danrosenthal commented on #1178
Checking with @nimzco to see if we can get to the bottom of this.

[2019-03-14 14:03] danrosenthal commented on #1178
[Bugsnag error here](https://app.bugsnag.com/shopify/shopify-web-client/errors/5c8a5bd3692895001991628a?filters%5Bevent.since%5D%5B%5D%5Btype%5D=eq&filters%5Bevent.since%5D%5B%5D%5Bvalue%5D=30d&filters%5Berror.status%5D%5B%5D%5Btype%5D=eq&filters%5Berror.status%5D%5B%5D%5Bvalue%5D=open&filters%5Bsearch%5D%5B%5D%5Btype%5D=eq&filters%5Bsearch%5D%5B%5D%5Bvalue%5D=cannot&filters%5Bsearch%5D%5B%5D%5Bty

[2019-03-14 14:08] #1109 closed

[2019-03-14 14:52] chloerice commented on #1118
@cloneali Absolutely! Ping me on the PR when you're ready for review 😃

[2019-03-14 15:01] cloneali commented on #1118
Cool. Can you assign me this issue? As I am not a member or collaborator in this project. Thanks.

[2019-03-14 15:14] danrosenthal commented on #1178
Unfortunately that does not seem to have been the issue either @nimzco. It's still broken in prod

[2019-03-14 15:50] chloerice commented on #1118
Ahh right looks like it's not possible to actually assign this to you, but it's clear from the comments that you're taking it on, so there shouldn't be anyone doubling up 👍

[2019-03-14 17:08] danrosenthal commented on #1178
[code]

Conversation with Nima about the problem. A couple things to look into.

[2019-03-14 18:36] #965 closed

[2019-03-14 18:36] #1177 closed

[2019-03-14 18:48] AndrewMusgrave commented on #1186
Hi @dominiceden what component are you having key collisions in? React key usage is internal only so we don't need to use `value` as the keys value. Perhaps we could find an alternative rather than extending the API.

[2019-03-14 19:25] mbriggs commented on #450
FWIW nowadays I am using `useMemo` to construct the save bar which deals with the problem, but tried doing it the "normal" way and still getting that crash on 3.10.

[code]

[2019-03-14 19:33] ry5n commented on #1182
I’m not the user, but this is one case where I would definitely be surprised if it was confusing

[2019-03-14 20:18] danrosenthal commented on #1178
Looks like that last attempt didn't resolve either.

[2019-03-14 20:32] #1172 closed

[2019-03-14 20:54] nimzco commented on #1178
😭

[2019-03-14 20:55] tmlayton opened #1192 "Card content spacing using text container broken in prod"
Looks like the order in which minified classes are built causes text container styles to get overwritten. Should be an easy fix to use card sections instead

![image](https://user-images.githubusercontent.com/344839/54390964-e851f200-4660-11e9-90ab-304e447fec39.png)

[2019-03-14 21:21] ry5n opened #1193 "[List fitlers] “Save filters” button not always disabled on All tab"
After working with filters a bit, it’s possible to land back on the All tab without the “Save filters” button resetting to a disabled “Saved” button.

## Expected behavior

When on the All tab, the save button should always be disabled, and say “Saved”

## Actual behavior

In some cases, the save button stays enabled, saying “Save filters”

## Steps to reproduce the problem

1. Under order status,

[2019-03-14 22:06] dpersing commented on #1173
Currently testing on `master` in `web` with the flag on. I'm blocked on testing on Windows at the moment due to a cross-scripting issue, but I can start writing up issues that are more general.

[2019-03-14 22:06] ry5n opened #1194 "[List filters] “All filters” should be “More filters”"
- Sheet disclosure button should say “More filters”, currently says “All filters”
- Same change for the sheet title

[2019-03-14 22:07] ry5n commented on #1170
Locations themselves are now out of beta, so don’t require beta flags. To test, I started with React routed enabled (“internal routes”) and the following flags turned on:

- `better-list-filters-opt-in`
- `new_admin_order_index_route`

I didn’t add more than one order.

Then, 🎩

- I went to Settings > Locations and added a location called “Paris warehouse” using a real address in Paris
- On the or

[2019-03-14 22:07] #1170 closed

[2019-03-14 22:12] ry5n commented on #1173
(As discussed outside of GitHub, we’re going to opt for video calls to review this together, rather than putting together instructions.)

[2019-03-15 12:30] #1178 closed

[2019-03-15 12:37] danrosenthal commented on #1194
Closed here https://github.com/Shopify/web/pull/11786/commits/2fbe44ba0aebcc392ba92453f56e7d2e8f874229

[2019-03-15 12:37] #1194 closed

[2019-03-15 13:23] danrosenthal opened #1197 "[List filters] Icons look funky in production"
| 😦| 🔍| 🔍|
|-|-|-|
|![Screen Shot 2019-03-15 at 9 16 52 AM](https://user-images.githubusercontent.com/1403188/54434233-2bb16c80-4704-11e9-9183-4a7b6a1cf627.png)|<img width="224" alt="Screen Shot 2019-03-15 at 9 25 35 AM" src="https://user-images.githubusercontent.com/1403188/54434311-56032a00-4704-11e9-8221-cc9601ba14db.png">|<img width="228" alt="Screen Shot 2019-03-15 at 9 25 19 AM" src="https:/

[2019-03-15 13:28] danrosenthal commented on #1178
|confirmed fixed in production|
|-|
|![Screen Shot 2019-03-15 at 9 16 52 AM](https://user-images.githubusercontent.com/1403188/54434475-bbefb180-4704-11e9-9854-1e6ed4ec5ff5.png)|

[2019-03-15 13:32] nimzco commented on #1178
Geez, that fix... Well done @tmlayton ! 🎉

[2019-03-15 13:42] danrosenthal commented on #1182
On further thought/exploration, this is impossible given the current setup. The selected state for these choice lists is derived from the applied filters (since they come in as query parameters). If clicking the `any` choice resulted in the removal of that applied filter, the choice would instantly go from selected to not selected, which would be very strange as a user. The only alternative I can

[2019-03-15 14:40] #1130 closed

[2019-03-15 14:40] #1157 closed

[2019-03-15 14:40] #1154 closed

[2019-03-15 14:50] #1192 closed

[2019-03-15 14:53] tmlayton commented on #1175
I’m not sure if the merchant feedback forms support i18n: https://merchant-feedback.shopify.com/admin/feedback_forms/86/edit

[2019-03-15 15:34] tmlayton commented on #1182
An "Any" tag or clearing the tag is functionally the same. I get the idea of wanting any to clear the tags when selecting any and making that a default, but I’m reluctant to make that change now given how complex the logic is around these choice lists and we are a few days away from polish. I see this is a medium or low priority and would prefer to tackle this when we refactor and extract to Polar

[2019-03-15 15:39] ry5n commented on #1182
It may be functionally the same, but the tag being present for “any” would encourage an incorrect mental model of this. Any is supposed to represent the default, non-filtered state. This is fundamental to the design and I consider it blocking.

If we can’t build this as intended, can we have a button below the choice list that says “clear” or something instead?

[2019-03-15 15:42] tmlayton commented on #1182
If it’s functionally the same, it is not blocking.

[2019-03-15 15:43] tmlayton commented on #1182
This is the first I'm hearing of this.

We have a clear all button

[2019-03-15 16:36] danrosenthal commented on #1139
Icons fixed here: https://github.com/Shopify/web/pull/11804

[2019-03-15 16:44] dpersing commented on #1173
Issues have been logged in `web` for items specific to the list filters rollout, and in `polaris-ux` for issues that are specific to existing Polaris components:

- Accordion button state: https://github.com/Shopify/web/issues/11781
- Sheet focus management: https://github.com/Shopify/web/issues/11780
- Monochrome link focus state: https://github.com/Shopify/web/issues/11779 and https://github.com

[2019-03-15 16:49] #1139 closed

[2019-03-15 17:43] tmlayton opened #1201 "More filters button overflows in large mobile state"
<img width="415" alt="Screen Shot 2019-03-15 at 10 42 33 AM" src="https://user-images.githubusercontent.com/344839/54451053-273e8100-470f-11e9-97de-9db577467801.png">

[2019-03-15 17:55] ry5n commented on #1182
Discussed in person to help clarify. We agreed that the current state is not perfect, but also that the desired behavior described in the issue isn’t currently technically feasible. I missed documenting this properly in the spec, which led to the misunderstanding. Sorry for the incomplete communication there, and for coming across as rather adamant in my comments.

We agreed to take a different ap

[2019-03-15 18:10] danrosenthal opened #1203 "[List filters] Save button initializes on mobile with improper size and alignment"
|:tophat:|
|-|
|![Screen Shot 2019-03-15 at 2 11 49 PM](https://user-images.githubusercontent.com/1403188/54452823-6929f000-472c-11e9-9a45-73670239aff2.png)|

[2019-03-15 18:29] #1203 closed

[2019-03-15 18:29] #1159 closed

[2019-03-15 18:29] #1197 closed

[2019-03-15 18:29] #1134 closed

[2019-03-15 18:29] #1185 closed

[2019-03-15 18:29] #1193 closed

[2019-03-15 18:37] #553 closed

[2019-03-15 18:54] loic-d opened #1204 "[Card] / Extra top padding in Card section"
# Issue summary

In the `Card` component, there is extra padding at the top in the section.

<img width="588" alt="Screen Shot 2019-03-15 at 2 52 36 PM" src="https://user-images.githubusercontent.com/3925905/54455405-19e6be00-4732-11e9-8ef9-cfe03c47ee94.png">
<img width="596" alt="Screen Shot 2019-03-15 at 2 53 22 PM" src="https://user-images.githubusercontent.com/3925905/54455412-1c491800-4732-11

[2019-03-15 18:55] dominiceden commented on #1186
Hi @AndrewMusgrave  yes, in the Select component. I map over an array of international dialling codes and have collisions there as many of the values (e.g. 7) are the same for different countries.

Here's my code:
[code]

I could of course add some kind of salt in in the mapping function and then remove it before submit, but it seems a little messy.

[2019-03-15 19:31] dpersing opened #1207 "[List filters] [a11y] Accordion buttons do not convey state"
Accordion buttons in the sheet do not convey their expanded/collapsed state programmatically. Without being able to see the icon, screen reader will not be able to tell which accordions are expanded and which are collapsed.

[code]

Like the [collapsible](https://polaris.shopify.com/components/behavior/collapsible) component, we'll want to add `aria-expanded` to the button so that screen reader us

[2019-03-15 19:33] dpersing opened #1208 "[List filters] [a11y] Focus to and from sheet is not fully managed"
When the sheet opens via the "Filters" button, focus remains on the button. Users can tab to the sheet content, but screen reader users using reading keys have to arrow through the Save and Sort buttons before accessing the sheet content, and can't tell that the sheet has appeared.

[Video of screen reader focus staying under the sheet](https://drive.google.com/file/d/1v8Qf3QcQgChr8OnUwQmdlIaZhLon

[2019-03-15 19:35] dpersing opened #1209 "[List filters] [a11y] Saving tab name causes loss of focus"
When a user submits a changed tab name for the filter, focus jumps to the top of the page. Instead, focus should return to the "Save" button so users can continue through the controls in a logical order.

<img width="1386" alt="Save button in the popover showing focus" src="https://user-images.githubusercontent.com/1462085/54450496-bf3b6b00-470d-11e9-8132-6c99c0b8ca44.png">

[Video of focus moving

[2019-03-15 19:38] dpersing opened #1210 "[List filters] [a11y] Link focus state is difficult to see"
The focus state on the monochrome privacy link in the opt-in card is difficult to see. This is made more complicated by focus management for the card as it updates, where sighted keyboard users might have a hard time finding where focus is. This link uses the `monochrome` prop for the `Link` component.

Inactive link:

<img width="842" alt="Default monochrome link appearance" src="https://user-ima

[2019-03-15 19:40] dpersing opened #1211 "[List filters] [a11y] Add external link icon to opt-in card"
_From the issue originally created by @selenehinkley:_

Since the privacy policy opens in a new tab, we need to add an external link icon.
![54330255-3d92f280-45d2-11e9-9475-b3dda1fe9c98_png__2544×322_](https://user-images.githubusercontent.com/18617698/54386461-5f8e8280-466f-11e9-8080-05494b485fcf.png)

Edit: This is related to the behavior of the external prop that appears in the link and page c

[2019-03-15 19:52] dpersing commented on #791
Adding to list filters since this component is relied on as the page updates underneath the sheet. Since nothing is announced, screen reader users may be confused about why the screen appears to be frozen.

[2019-03-15 20:01] dpersing commented on #1212
Moved from `polaris-ux` for consideration with list filters.

[2019-03-15 20:08] tmlayton commented on #1182
Updated the title based on what we discussed

[2019-03-15 20:12] dpersing opened #1213 "[List filters] [a11y] Sheet blends into page in High Contrast"
When the sheet is viewed in windows High Contrast with Edge, it blends into the page header and list, making it slightly difficult to pick out. This is caused by relying on a background color alone to distinguish it from the content underneath.

<img width="1872" alt="View of the sheet in Edge" src="https://user-images.githubusercontent.com/1462085/54459407-d7b68000-4723-11e9-8de2-231de7ef6feb.png

[2019-03-15 20:24] BPScott opened #1214 "Add an demo of the DateSelector filter to the ResourceList examples"
[The Resource List "list with filtering" demo](https://github.com/Shopify/polaris-react/blob/master/src/components/ResourceList/README.md#resource-list-with-filtering)
shows a demo of a filter with type  `FilterType.TextField` and `FilterType. Select`.

That's great but there's one more FilterType that we're not demonstrating anywhere - [`FilterType. DateSelector`](https://github.com/Shopify/polar

[2019-03-15 20:39] tmlayton commented on #1204
It does look like a bit too much space, but this is the expected behavior. Here is an example using v3.5.0 https://codesandbox.io/s/m77q5yzvyy.

I’m going to close for now, but feel free to reopen if you think this should be addressed.

[2019-03-15 20:39] #1204 closed

[2019-03-15 21:04] loic-d commented on #1204
@tmlayton I see your point. I still feel that it the UI is not matching our Discounts UX requirements. Maybe the solution is to increase the spacing after the `Banner` to make it less awkward?

Try https://codesandbox.io/s/y7p9o983pz. I am using a `ChoiceList` instead of a paragraph and it looks a bit off.

[2019-03-15 21:04] dpersing opened #1215 "[a11y] Toast not conveyed consistently by screen readers"
# Issue summary

The toast component may cause issues for assistive tech users on Windows.

NVDA doesn't announce the `aria-live` container when it appears. This is related to how NVDA parses `aria-live` regions. To get the content to be read, the container with `aria-live="..."`, `role="alert"`, or `role="status"` needs to be in the DOM already when its contents are changed. This is something tha

[2019-03-15 21:06] #824 closed

[2019-03-15 21:07] loic-d commented on #1204
cc/ @papoirier for visibility. You originally flagged the issue.

[2019-03-15 21:10] dpersing opened #1216 "[a11y] Toast not clearly visible in High Contrast"
# Issue summary

The toast is difficult to see against the background if it's viewed in Windows High Contrast, since the background color is stripped out. Adding a border (either a transparent one using `border: 1px solid transparent`, or one that's only displayed using the `ms-high-contrast` query. @AndrewMusgrave has done some work with high contrast styles, so you can likely ping either of us a

[2019-03-16 21:44] ry5n commented on #1173
@dpersing Do you feel satisfied with the review, enough to consider this closed?

[2019-03-16 23:51] chhornponleu opened #1217 "DropZone.FileUpload: Typescript error"
# Issue summary
I have just upgraded the project to type script. Running is ok, but error when building for production.

<img width="906" alt="Screen Shot 2019-03-16 at 12 00 29 PM" src="https://user-images.githubusercontent.com/14964945/54476865-76ca9d00-4834-11e9-9d5c-3c181c686160.png">

tsconfig.json
[code]

[code]

[2019-03-16 23:52] shahab65 opened #1218 "web app created with polaris sample code"
hello
I found polaris yesterday and I have been studding its docs since then.
And now I want to ask can I found some web app created by polaris?
for example is shopify admin dashboard an open source project?
It can be very inspiring for me in designing react web apps for shopify.
If yes where can I find it?
If no how can I find another web app created with polaris?
thank you

[2019-03-17 15:51] WesKetch commented on #949
@paulisloud not sure if this helps you but I just started playing around with this library and got a redirect working using something like this

[code]

this is in a component that is a child of app provider

[code]

[2019-03-18 13:28] alex-page commented on #1218
Hey @shahab65 thanks for creating your first issue!

I agree that examples help when you are getting started with something new as of right now I am not sure of any web apps that are open source. The admin dashboard is not open source unfortunately.

In the future it might be a great idea to list some examples of open source third party applications using Polaris. I will make a note of this and sh

[2019-03-18 13:28] #1218 closed

[2019-03-18 16:21] dpersing commented on #1173
@ry5n Works for me! We can do another pass before the full launch for stragglers.

[2019-03-18 16:21] #1173 closed

[2019-03-18 17:08] #1207 closed

[2019-03-18 18:30] BPScott commented on #1217
Hi @chhornponleu,

This is the same problem as #711 where context typing is broken in TypeScript > v3.2.0. The root cause of this issue is  due to a bug in react-compose (see https://github.com/Shopify/quilt/issues/489).

Until react-compose gets updated, you can downgrade Typescript to v3.1.x and things should compile successfully.

[2019-03-18 18:31] BPScott commented on #1217
Closing this as it is a duplicate of #711.

[2019-03-18 18:31] #1217 closed

[2019-03-18 19:01] beefchimi commented on #800
Any traction on this? Not too hard to pull off. In `Scrollable` you do: https://github.com/Shopify/polaris-react/blob/master/src/components/Scrollable/Scrollable.tsx#L254-L260

You can extract that into a utility that you can then import:

[code]

After that, you can do something like:

[code]

And in SCSS you can just create a mixin:

[code]

Setting to `duration: 1ms !important;` should still al

[2019-03-18 19:36] StephPoce commented on #1163
**To be tracked**
These are the things we (Sonja & Steph) talked with Ali Wytsma about:

- Opt in/Update later
- Allow Sharing/Skip
- Switch Back
- Feedback link (open)

Filtering Actions:
- option/facet selection (checkbox/radio)
- Search queries (filter orders field)
- Popover opens
- Filter 'Sheet' open/close
- Collapsible opens in sheet
- Sort open and selection

[2019-03-18 20:14] sarahill commented on #1175
Some of the translations are done so I went ahead and created forms  for those languages:
French, German, Italian, Spanish

![image](https://user-images.githubusercontent.com/8629173/54560537-f07b9b80-4998-11e9-9e2e-dcac29f49734.png)

[2019-03-18 20:17] #1182 closed

[2019-03-18 20:23] #1208 closed

[2019-03-18 22:50] shahab65 opened #1222 "built in js library for i18n"
hello
I want to create my first shopify app with create-react-app and polaris.
in my last projects I have used react-intl and [lingui/react](https://github.com/lingui/js-lingui) for
having i18n.
Now my question is:
does react-polaris comes with built-in solution for having i18n or I can use any library that I want
for having multi language store

thanks

[2019-03-19 00:13] mikeyhew opened #1223 "Navigation for embedded apps"
# Feature request summary

Provide some way to do navigation for embedded apps that doesn't trigger a full page reload. One option is to provide a polaris component for these navigation links that looks the same as the built-in ones. There may be a way to communicate with the parent window and handle click events from the built-in navigation links, but that's a decision someone who works at Shopif

[2019-03-19 09:24] GuiguiWeb commented on #1222
i18n utilities for React handling translations, formatting, and more : https://github.com/Shopify/quilt/tree/master/packages/react-i18n

With an i18n object, the app provider component will override default English translations : https://polaris.shopify.com/components/structure/app-provider

[2019-03-19 13:09] #1165 closed

[2019-03-19 16:56] #1209 closed

[2019-03-19 17:07] AndrewMusgrave commented on #936
Looks like this issue was only fixed for initial load

[2019-03-19 19:49] VanjaMitrovic opened #1225 "[List filters] Fix "online store" capitalization"
There are two capitalization errors in the current version of list filters.

## Actual
<img width="402" alt="actual1" src="https://user-images.githubusercontent.com/16088929/54637143-554cf980-4a5e-11e9-928d-44b7847e71ee.png">
<img width="171" alt="actual2" src="https://user-images.githubusercontent.com/16088929/54637149-57af5380-4a5e-11e9-93de-c8aefc0515a1.png">

## Expected
<img width="163" alt="

[2019-03-19 22:35] AndrewMusgrave commented on #1222
Hi @shahab65 as Guigui mentioned we provide english translations for all our components with the option to pass a transition diction to `AppProvider` and `@shopify/react-i18n` is our `i18n` utility.

[2019-03-20 10:59] fchienvuhoang commented on #1223
Yes, Voted for you, we want to build app with not full reload page!!!

[2019-03-20 11:46] shahab65 commented on #1222
thank you.
I am  happy with lingui/react but of course I will check polaris built-in solution out

[2019-03-20 11:46] #1222 closed

[2019-03-20 12:38] andrewpye commented on #385
@chloerice I've seen that `@shopify/polaris-icons` is now available as a stand-alone package which is super-exciting, but on investigation it seems to only be consumable by React apps since the exports are all generated by `React.createElement`. This is a bit of a disappointment to those of us that are using Polaris but not via React - for example, we use Ember.js, and have built `@smile-io/ember-

[2019-03-20 14:36] caitlinmullen opened #1556 "Banner content clarification"
**Problem**

There aren't definitive guidelines around different types of content within banners (headings, body content, links), and banner content is applied inconsistently across the product.

A long-lost Slack conversation in #product-content drew attention to the issue of when it's appropriate to use just a heading, just body content, links, combinations of 2 elements, or all 3. What is the r

[2019-03-20 14:46] joshbedo commented on #1102
Hey guys, sorry for the late response I'm using an older version of polaris where the `to` property is required. Seems like in the newer versions it was switched over to `url`

[2019-03-20 15:52] #1118 closed

[2019-03-20 16:42] MateusJabour opened #1229 "[Dropzone] `numFiles` state doesn't get reset"
# Issue summary
If you're using `Dropzone` with `allowMultiple` being false, and you drop a image and then you clear the `Dropzone`, the `numFiles` state doesn't reset, stay at `1`, not allowing the user to upload a new image.

## Expected behavior

You should be able to reset the `Dropzone` `numFiles` state.

## Actual behavior

You can't reset the `Dropzone` `numFiles` state.

## Steps to reprod

[2019-03-20 19:17] ry5n commented on #1102
Thanks for the clarification @joshbedo. If you’d like to upgrade to a newer version of Polaris and run into any issues, we’re happy to help. There is also a `#polaris` channel in the Shopify developers Slack at shopifypartners.slack.com that may be helpful. 💜

[2019-03-20 19:24] andrewlo opened #1230 "[DataTable] Sortable column headings clickable area is inconsistent with styling"
# Issue summary

When a DataTable column is sortable, hovering over the column header with your mouse changes the color and reveals the sorting icon, indicating that it is clickable.

However, the area where it is actually clickable is smaller than the area where the hover styles are applied, making the user think they can click to sort when they can't

In this GIF I'm clicking, it has no effect u

[2019-03-20 20:32] chloerice commented on #1004
Hey @clauderic, this issue has been my main focus this week, but I've been unable to reproduce it in [my reduced test case](https://codesandbox.io/s/m31kk5qzq9). There's a lot of inconsistencies in how different sections of the nav work, so I'm moving my focus to the implementations so I can find what the difference is between:
    - Discounts (which navigates to the `url` of its first `subNavigat

[2019-03-20 23:25] #936 closed

[2019-03-21 11:24] mrtnpro commented on #169
We're experiencing the same issue. As @tmlayton suggested the following line saved us:
[code]

It doesn't look nice, especially the jumping and re-rendering of the Tabs but it does the job for now.

[2019-03-21 14:45] dleroux commented on #1223
Thanks @mikeyhew. Closing as we do with feature requests but it is not forgotten.

[2019-03-21 14:45] #1223 closed

[2019-03-21 21:47] mikeyhew opened #1238 "ResourceList.Item expects `polaris` and `context` props"
# Issue summary

Somehow typescript thinks that `ResourceList.Item` requires the `polaris` and `context` props, when in fact it does not.

## Expected behavior

This code should compile:

[code]

## Actual behavior

Typescript error message:

[code]

## Steps to reproduce the problem

1. `git clone https://github.com/mikeyhew/polaris-resource-list-item-bug-example`
1. cd polaris-resource-list-item

[2019-03-21 22:06] tmlayton commented on #565
I enabled the sharing of this key a month ago or so when I marked all checks as required

[2019-03-21 22:06] #565 closed

[2019-03-21 22:49] CameronGorrie opened #1239 "DatePicker range with single date allows continued selection"
# Issue summary
In a ranged `DatePicker` component selecting a single day by clicking it twice shouldn't continue to show the selection highlight.

## Expected behavior
Selecting a day twice should behave the same as selecting a range, or the same as `allowRange: false`

## Actual behavior
![datePickerClickIssue](https://user-images.githubusercontent.com/3865674/54789681-a9e0a800-4c09-11e9-8ec0-52

[2019-03-21 22:53] BPScott commented on #1238
Hi @mikeyhew,

This is the same problem as #711 where context typing is broken in TypeScript > v3.2.0. The root cause of this issue is due to a bug in react-compose (see Shopify/quilt#489).

Until react-compose gets updated, you can downgrade Typescript to v3.1.x and things should compile successfully.

[2019-03-21 22:53] BPScott commented on #1238
Closing this as it is a duplicate

[2019-03-21 22:53] #1238 closed

[2019-03-22 00:03] mikeyhew commented on #1238
Thanks!

[2019-03-22 00:53] ry5n commented on #1211
I’d like to tackle this within Polaris React in order to enable the external link icon for general use.

Here’s what I’m thinking:

- Add a [trailing icon](https://polaris-icons.shopify.com/?icon=ExternalSmallMinor&q=exter) to Buttons and Links when the `external` prop is true
- Add “(opens a new window)” to the accessible name of Buttons and Links when `external` is true

[2019-03-22 01:01] ry5n commented on #1211
Here’s a prototype of the technical approach I’m planning to take: https://codesandbox.io/s/9wymvnyrw?fontsize=14&module=%2FApp.js

[2019-03-22 12:02] #1181 closed

[2019-03-22 12:02] #1201 closed

[2019-03-22 13:34] meecrobe opened #1240 "Unnecessary border radius when wrapping buttons inside segmented ButtonGroup with Tooltips"
# Issue summary
Border radius getting applied to buttons inside segmented ButtonGroup when wrapping buttons with Tooltip component.

## Expected behavior
![vadzim2 ~ APO ~ Shopify 2019-03-22 16-23-21](https://user-images.githubusercontent.com/8003440/54826087-17e7a680-4cc0-11e9-8892-9f973152a405.png)

## Actual behavior
![vadzim2 ~ APO ~ Shopify 2019-03-22 16-22-56](https://user-images.githubuserc

[2019-03-22 16:20] dpersing commented on #1211
This looks fantastic!

[2019-03-23 14:24] michielgerritsen opened #1241 "Root breadcrumb click in an embedded app"
Hi,

Is it possible to catch a click on the root breadcrumb in an embedded app? By root breadcrumb i mean the name of the app, in this example the text `My Cool App`

<img width="150" alt="Schermafbeelding 2019-02-28 om 21 21 37" src="https://user-images.githubusercontent.com/5858697/54867351-8e97a900-4d7f-11e9-8e0a-c89213a1beae.png">

I want to redirect the users to the index of my app, but it se

[2019-03-24 20:10] jamesism opened #1242 "TextField of type="number" misreports value visually when input is an invalid number"
# Issue summary

When using a `TextField` with `type="number"` the user input is restricted to digits and decimal characters, but the user can enter multiple decimal points. This results in the browser reporting `event.currentTarget.value` as null or empty, since it is no longer a valid number value. However, to the user, the input appears to still contain a value (the string with multiple decimal

[2019-03-25 14:23] senecabrandi commented on #1174
recruitment list: https://docs.google.com/spreadsheets/d/1VPQI8hBhDztlnMsSiSB7gG1dTQTGhTFzQHKDuoiaejo/edit?usp=sharing

[2019-03-25 14:24] senecabrandi commented on #1174
research plan: https://docs.google.com/document/d/1dJV3dAfghkIbPAFWJ11SV6PTvSJwjznpTBDuJLOYG1M/edit?usp=sharing

[2019-03-25 15:33] marina101 opened #1244 "Chrome may override disabled autoComplete in TextFields"
# Issue summary

Chrome is known to sometimes ignore the autoComplete=false setting on inputs: https://bugs.chromium.org/p/chromium/issues/detail?id=370363#c7

The workaround is to set it to a string field named differently from the ones autocomplete looks for:
https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#autofill

## Expected behavior

TextField should be able to handle

[2019-03-25 17:35] kaelig commented on #385
Hey Andy, thanks for asking!

We were just asking ourselves what the best way to enable non-React apps to use icons via `@shopify/polaris-icons`.

Aside from needing SVG files, can we make any pre-transforms that would help? (for example, we could pre-remove `fill` for all dark paths, and apply `fill="currentColor"` to backgrounds on major twotone icons, just like we do in the React version)? Alte

[2019-03-25 17:37] kaelig commented on #385
Reopening this as this is not only a feature request but also could be considered a regression since https://github.com/Shopify/polaris-react/pull/1042.

[2019-03-25 18:04] marina101 commented on #1244
After discussion, it seems that new browsers might only be respecting it if it set to false:
https://github.com/Shopify/polaris-react/pull/708
https://github.com/Shopify/polaris-react/pull/761

[2019-03-25 20:16] siddhantbajaj opened #1245 "Lazy loading support for optionList component [onScrollToBottom function]"
# Feature request summary

Related to https://github.com/Shopify/web/issues/11967

We want to implement Lazy loading for option list component. Currently it does not support this as it's unordered list. Wrapping it in a scrollable component might work.

## Rationale

---
Merchants have a large number of tags in their shop. Right now we only show 250 in the list, we created an endpoint to query all

[2019-03-25 21:00] chloerice commented on #1245
Hey @siddhantbajaj 👋 `Autocomplete` supports lazy loading via the `onLoadMoreResults` prop.

[2019-03-25 21:00] #1245 closed

[2019-03-25 21:29] chloerice commented on #1245
@siddhantbajaj [Here's a sandbox for example](See [this sandbox](https://codesandbox.io/s/21omo7y01n) for an example.) of this since there isn't an example in the docs. While making this, I found a bug--the `onLoadMoreResults` prop is only getting invoked on when you reach the bottom of the list via keyboard, not via scroll 😣. I'll open a separate issue for that.

[2019-03-25 21:35] siddhantbajaj commented on #1245
Ahhh thanks a lot @chloerice !!! Do you think it's a small fix or will it take some time. I am asking because if it will take some time we have an alternate temporary fix (https://github.com/Shopify/web/issues/11967#issuecomment-476370619) for our case that we can implement for now.

[2019-03-25 21:40] chloerice opened #1246 "[Autocomplete/Combobox] onLoadMoreResults only called when bottom of list is reached via keyboard"
# Issue summary

The autocomplete component's `onLoadMoreResults` prop exists to support lazy loading of options for best performance, but it's only being called when the bottom of the option list is reached with the down arrow key.

Related issue #1245

## Expected behavior

`onLoadMoreResults` should be invoked when the bottom of the list is reached via keyboard or mouse scroll.

## Actual behav

[2019-03-26 02:37] chloerice commented on #1245
It was a straightforward fix, see #1248 & #1249 👍.

[2019-03-26 09:01] AndreyYeryomin commented on #1093
@ry5n can you fix this issue? i still has this problem when i trying set my apikey and shopOrigin.
![Screenshot (14)](https://user-images.githubusercontent.com/18416551/54983965-7f4e7080-4fb6-11e9-92f9-704222e30923.png)

[2019-03-26 09:02] AndreyYeryomin commented on #1093
i just trying execute simple example from polaris documentation

[2019-03-26 09:06] AndreyYeryomin commented on #1093
i need to resolve this problem, because i working with embedded app, and i cant finish this app until you don`t resolve this problem.

[2019-03-26 11:08] andrewpye commented on #385
Thanks @kaelig! I think with the pre-transforms you mention is probably the most useful, so that we can use the icons and have them look the same as they do in the React components 🙂

[2019-03-26 13:15] siddhantbajaj commented on #1245
Awesome, thanks you so much @chloerice for taking this up. :-)

[2019-03-26 14:35] chloerice commented on #1093
Hey @AndreyYeryomin, the first screenshot seems to just be a problem of loading on an unsupported device, but the second browser screenshot doesn't give any clues of what's going on.

Does your app run locally when you remove `apiKey` and `shopOrigin`? What error(s) are you getting in your browser console and/or in your terminal?

[2019-03-26 15:28] AndreyYeryomin commented on #1093
@chloerice Yes. When i remove "apiKey" and "shopOrigin" from AppProvider properties, all works well. But i want to use AppBridge for integration with parent window.

**My device:**
- Browser: Google Chrome Version 72.0.3626.119
- Device: iMac
- Operating System: OS X El Capitan ver 10.11.4

[2019-03-26 16:17] chloerice commented on #1093
Hmmm, it sounds like what you're describing there the move of the page actions etc into the topbar above the iframe (that's intentional).

I'll reach out to the App Bridge team for help on this, as they're familiar with embedded app set up and what can go wrong.

[2019-03-26 16:30] henrytao-me commented on #1093
@chloerice @AndreyYeryomin I believe your app is blacklisting to use App Bridge right now. That's why you see above error.

[2019-03-26 17:01] sarahill commented on #1175
@tmlayton Here are the feedback forms for the different languages:

- Better list filters
- Better list filters - FR
- Better list filters - IT
- Better list filters - DE
- Better list filters - ES
- Better list filters - pt-BR
- Better list filters - zh-CN
- Better list filters - zh-TW
- Better list filters - pt-PT

Working on the switch feedback forms.

[2019-03-26 17:01] petereszes opened #1251 "Saved search tabs have an outline on focus"
# Issue summary
Saved search(filter) tabs have an outline when in focus

## Expected behavior
Saved search(filter) tabs should not have an outline in any state

## Actual behavior
https://d.pr/v/qBsPkR

## Steps to reproduce the problem

1. Enable the `better-list-filters-opt-in` `better-list-filters` `new_admin_order_index_route` `enable internal routes` beta features
2. Navigate to Orders > All

[2019-03-26 18:05] sarahill commented on #1175
@tmlayton translated forms for when merchant switches back:
List filters switch back feedback
List filters switch back feedback
List filters switch back feedback
List filters switch back feedbackList filters switch back feedback

[2019-03-26 18:06] #1175 closed

[2019-03-27 08:28] meecrobe opened #1252 "[ResourceList] Bulk actions doesn't disappear when the list is empty"
# Issue summary

When empty state of ResourceList is rendered (`items` property equals `[]`), bulk actions component with checkbox remains visible with text `Showing 0 {{ resource name }}`.
It disappears after clicking on it or after next render with 0 search results.

## Expected behavior
Only empty state must be rendered.

## Steps to reproduce the problem
Sandbox: https://codesandbox.io/s/n01xx

[2019-03-27 15:32] AndrewMusgrave commented on #1252
I'm taking a look at a few `ResourceList` issues, this week and next. I'll add this to the list.

[2019-03-27 17:06] Rchristiani opened #1256 "ResourceList placeholder prop"
# Feature request summary
Adding a `placeholder` prop to the `ResourceList` to allow users to set their own messages in the search area.

## Rationale

![image](https://user-images.githubusercontent.com/1775147/55096847-05d78080-5091-11e9-86b2-4af280986c0a.png)

Adding a prop like this would allow users to customize the placeholder text shown in the search area. Right now it defaults to the value

[2019-03-27 17:08] danrosenthal commented on #1256
I think this should be added to `ResourceList`'s context, making it accessible through a consumer. And `FilterControl` ought to get the value through context. Does anyone have an alternative solution?

cc: @dleroux

[2019-03-27 17:08] dleroux commented on #1256
The prop would be on the `ResourceList.FilterControl` component as oppose to just the `ResourceList`

[2019-03-27 17:10] Rchristiani commented on #1256
@danrosenthal @dleroux I think it makes sense to add it to the `FilterControl` I think because that is what is needed to get this UI to appear.

[2019-03-27 17:12] danrosenthal commented on #1256
Yup, that makes sense to me 🚢

[2019-03-27 17:44] AndrewMusgrave commented on #1256
Sorry I'm a little late to the party. I think it makes sense to have the prop on `FilterControl` as well

[2019-03-27 19:00] marina101 commented on #1244
I'm re-opening this. We're getting multiple shops for whom chrome is ignoring the autocomplete=off setting. I was able to reproduce this behavior in production using chrome 72, and when I changed the value of autocomplete to a string we got the correct behavior. I'd like to add the option of passing in a string argument instead of a boolean to TextField.

Longer term this may be related to https:/

[2019-03-27 19:39] beefchimi opened #1258 "[PolarisTokens] Consume duration tokens once released"
This `polaris-tokens` PR adds `duration` values:
https://github.com/Shopify/polaris-tokens/pull/54

Once this is merged and released, we should update `polaris-react` to utilize these values.

Essentially, we apply the same technique found in:
https://github.com/Shopify/polaris-react/blob/master/src/styles/foundation/spacing.scss

To the `duration.scss` file:
https://github.com/Shopify/polaris-rea

[2019-03-27 21:26] dpersing commented on #1213
We looked at browser stats and decided the impact is small enough to not prioritize this for release just now, and any short-term fixes would be bandaid-y for a lot of reasons. When we do redesign work for the new brand we’ll avoid implementations that cause issues with borders by default.

[2019-03-28 15:19] #1244 closed

[2019-03-28 17:18] adamcarchibald opened #1264 "[AutoComplete/TextField][v1] Cursor moves to front and back of input when using up and down arrows for selection"
# Issue summary
When using up and down arrows during selection process, the cursor moves to the front and back of the input found in the TextField

## Expected behaviour
Cursor should never move when using up and down arrows for selection.

## Actual behaviour

![](https://screenshot.click/2019-03-28_13-13-44.gif)

This is can be replicated at https://polaris.shopify.com/components/forms/autocompl

[2019-03-28 17:29] adamcarchibald opened #1265 "[AutoComplete][v1] Options popover is not shown again after selection unless a onBlur occurs"
# Issue summary
If a user finds and selects a match strictly with keyboard inputs and then begins erasing the input to find another match, the options that match are not displayed until you click outside of the text field.

## Expected behaviour
If options are available and the Text Field onChange occurs, the options should be displayed again in a popover.

## Actual behaviour

![](https://screens

[2019-03-28 18:03] #1246 closed

[2019-03-29 04:16] kaelig commented on #1258
`@shopify/polaris-tokens@2.4.0-beta.1` is out - it could be worth having a PR in polaris-react to test the beta does work as expected. @beefchimi is that something you'd be comfortable doing?

[2019-03-29 14:09] #1256 closed